<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta th:replace="common :: common-meta" th:remove="tag"/>
	</head>
	<body th:with="BASE64=${T(org.apache.tomcat.util.codec.binary.Base64)}" data-page="buy">
		
		<div th:replace="common :: common-menu" th:remove="tag"></div>
		
		
		<div class="container mt-5">
			<div class="row">
				<div class="col-xm-12">
						<div class="mb-5 d-flex" th:if="${product.image ne null}">
							<img width="50px" height="100vw" style="margin-right: 15px;" th:src="${'data:image/png;base64,' + BASE64.encodeBase64String(product.image)}" src="images/tree-lal-shak.png" class="img-fluid" />					
							<h3>
								<a th:href="'/products/' + ${product.type.id} + '?product=' + ${product.id}" 
								th:text="${product.name}"></a></h3>
						</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">

					<div class="well">

						<form id="find-nursery" class="form-inline" onsubmit="return mySubmitFunction(event)">
							<input th:value="${product.id}" id="product-id" type="hidden" />
							<div class="form-group" th:each="mp: ${mapProperty}">
								<label class="control-label col-sm-2" for="Type" th:text="${mp.key}"></label>
								<div class="col-sm-10">
									<select  class="form-control d-none property-selection" th:id="'select-' + ${mp.key}" >
										<option value="0" text="Select"></option>
										<option th:text="${ap.name}" th:each="ap : ${mp.value}"  th:value="${ap.id}"></option>
									</select>	
		
									<div class="btn-group" role="group" aria-label="..." th:id="'btn-grp-' + ${mp.key}" >
										<button type="button" class="btn btn-default kk-btn-group" 
											th:each="ap : ${mp.value}"  
											th:attr="data-vlu=${ap.id}"
											th:text="${ap.name}">
										</button>
									</div>
		
										
								</div>
							</div>
							
							
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
								<button type="button" id="get-price" class="btn btn-success">ফিল্টার করুন</button>
								</div>
							</div>
						</form>
					</div>

				</div>
				
				
				
				
				<!-- <ul th:each="saleType : ${saleTypes}" class="col-lg-3 col-md-6 col-sm-12 vimg">
					
					<li class="a-spacing-mini">
					<span
						class="a-button a-button-normal a-button-toggle" id="a-autoid-0">
							<a
							href="#"
							class="a-button-text" role="button" id="a-autoid-0-announce"
							th:text="${saleType.name}"> </a>
					</span>
					</li>
	
				</ul> -->

						
				

			

			</div>
			
			
			<div class="row">
				<div class="col-sm-12">
					<table id="price-list" class="table table-bordered">
						<tbody>
							<tr><td class="msg-buy"><span th:text="${product.name}">পণ্যটি</span> কিনতে যেকোনো প্রপার্টি সিলেক্ট করে নার্সারি খুঁজুন ও দাম দেখুন...</td></tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
		
		
		<div th:replace="common :: commom-footer" th:remove="tag"></div>
		<div th:replace="common :: common-js" th:remove="tag"></div>
		<script th:src="@{/js/buy.js}" src="js/buy.js" ></script>
		<script>
			loadPrice();
		</script>
	</body>
</html>