<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta th:replace="common :: common-meta" th:remove="tag"/>
	</head>
	<body th:with="BASE64=${T(org.apache.tomcat.util.codec.binary.Base64)}" data-page="buy">
		
		<div th:replace="common :: common-menu" th:remove="tag"></div>
		
		
		<div class="container mt-5">
			<div class="row">

				<form class="form-inline" onsubmit="return mySubmitFunction(event)">
					<div class="form-group">
						<label class="control-label col-sm-2" for="Type">টাইপ:</label>
						<div class="col-sm-10">
							<select  class="form-control d-none" th:id="'select-' + 'type' ">
								<option value=""></option>
								<option th:text="${saleType.name}" th:each="saleType : ${saleTypes}"  th:value="${saleType.id}"></option>
							</select>	

							<div class="btn-group" role="group" aria-label="..." th:id="'btn-grp-' + 'type'" >
								<button type="button" class="btn btn-success kk-btn-group" 
									th:each="saleType : ${saleTypes}"  
									th:attr="data-vlu=${saleType.id}"
									th:text="${saleType.name}">
								</button>
							  </div>

							<input th:value="${product.id}" id="product-id" type="hidden" />	
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="Type">সাইজ:</label>
						<div class="col-sm-10">
							<select  class="form-control" id="salesTypeOpt">
								<option>৬'</option>
								<option>৮'</option>
								<option>১০'</option>
							</select>	

						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="Type">বয়স:</label>
						<div class="col-sm-10">
							<select  class="form-control" id="salesTypeOpt">
								<option>৬ মাস</option>
								<option>৮ মাস</option>
								<option>১০ মাস</option>
							</select>	

						</div>
					</div>
					
					
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
						<button type="button" id="get-price" class="btn btn-success">নার্সারী খুঁজুন</button>
						</div>
					</div>
				</form>
				
				
				
				<!-- <ul th:each="saleType : ${saleTypes}" class="col-lg-3 col-md-6 col-sm-12 vimg">
					
					<li class="a-spacing-mini">
					<span
						class="a-button a-button-normal a-button-toggle" id="a-autoid-0">
							<a
							href="#"
							class="a-button-text" role="button" id="a-autoid-0-announce"
							th:text="${saleType.name}"> </a>
					</span>
					</li>
	
				</ul> -->

						
				

			

			</div>
			
			
			<div class="row">
				<table id="price-list" class="table">
					<tbody>
						<tr><td>select type to see price and Nersery</td></tr>
					</tbody>
				</table>
			</div>
		</div>
		
		
		<div th:replace="common :: commom-footer" th:remove="tag"></div>
		<div th:replace="common :: common-js" th:remove="tag"></div>
		<script th:src="@{/js/buy.js}" src="js/buy.js" ></script>
		<style>
		a-button-toggle {
		    border-color: #adb1b8 #a2a6ac #8d9096;
		    background-color: #fff;
		}
		
		.a-button {
		    background: #e7e9ec;
		    border-radius: 3px;
		    border-color: #ADB1B8 #A2A6AC #8D9096;
		    border-style: solid;
		    border-width: 1px;
		    cursor: pointer;
		    display: inline-block;
		    padding: 0;
		    text-align: center;
		    text-decoration: none!important;
		    vertical-align: middle;
		}
		li {
			display: inline-block;
		
		}
		
		</style>
		
	</body>
</html>