<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta th:replace="common :: common-meta" th:remove="tag"/>
	</head>
	<body th:with="BASE64=${T(org.apache.tomcat.util.codec.binary.Base64)}" data-page="buy" class="hide-cart">
		
		<div th:replace="common :: common-menu" th:remove="tag"></div>
		
		
		
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-12">
					<h1>ধন্যবাদ! আপনার অর্ডারটি আমরা পেয়েছি। </h1>
					<h4>অর্ডার নং : <span th:text="${orderId}"></span></h4>
					<a th:href="@{'/gardener/gardener-order-detail/' + ${orderId}}">বিস্তারিত</a>
				
				</div>

			</div>

		</div>
		
		
		<div th:replace="common :: commom-footer" th:remove="tag"></div>
		<div th:replace="common :: common-js" th:remove="tag"></div>
		<script th:src="@{/js/buy.js}" src="js/buy.js" ></script>
		
		<script type="text/javascript">
			
			$(document).ready(function() {
				// make cart visible
				//$('body').addClass('show-cart');
			});
		
		</script>		
	</body>
</html>