<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="common :: common-meta" th:remove="tag" />
</head>
<body data-page="gardener">
	<div th:replace="common :: common-menu" th:remove="tag"></div>

	<div class="container" style="margin-top: 15px;">
			<div class="row well">
				<div class="col-sm-12">
					<div class="detail-info">
						<div class="pull-left detail-info-left">
							<div>
								<p class="order-number">Order&nbsp;#<span th:text="${order.id}"></span></p>
								<p class="text desc light-gray">Placed on <span th:text="${order.order_time}"></span></p>
							</div>
						</div>
						<div class="detail-right-info pull-right">
							<p>
								<span class="detail-info-total-title">Total:&nbsp;</span><span
								class="detail-info-total-value">৳ <span th:text="${order.payable_amount}"></span></span>
							</p>
							<p>
								<span class="detail-info-total-title">Status:&nbsp;</span>
								<span th:text="${order.status}"></span>
							</p>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<div class="package-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Product</th>
									<th>Nursery</th>
									<th>Sale Type</th>
									<th>Unit Price</th>
									<th>Quantity</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="order : ${orderDetailList}">
									<td th:text="${order.product.name}">Product</td>
									<td>
										<a th:href="@{'/vendor/' + ${order.nursery.id}}" th:text="${order.nursery.name}"></a>
									</td>
									<td th:text="${order.saleType.name}">Sale Type</td>
									<td th:text="${order.unit_price}">Amount</td>
									<td th:text="${order.quantity}">Status</td>
								</tr>
							</tbody>
						</table>

						<hr/>

						<h4 th:if="${order.delivery_notes != null}">Delivery Note</h4>
						<p th:if="${order.delivery_notes != null}" th:text="${order.delivery_notes}"></p>
	
					</div>
	
				</div>
				<div class="col-sm-4">
					
					
						
						
					<div class="card">
					
						<h5 class="card-header">Delivery information</h5>
						<div class="card-body">
							<p class="text-center" th:if="${order.deliveryManagements == null||#lists.isEmpty(order.deliveryManagements)}"> delivery infromation will be updeted soon!</p>
							<div th:unless="${#lists.isEmpty(order.deliveryManagements)}">
							<div  th:each="cm : ${order.deliveryManagements}">
							<div th:if="${cm.deliveryDate != null}" class="card bg-faded">
								<div class="card-block">
								<div class="card-text">
										<span>Nursery: </span> 
											<span th:text="${cm.nursery.name}"></span>
									</div>
									<div class="card-text">
										<span>Delivery Date: </span> 
											<span th:text="${cm.deliveryDate}"></span>
									</div>
									<div class="card-text">
									
										<span>Delivery Person: </span> 
										<span class="glyphicon glyphicon-user"></span> 
										<span th:text="${cm.deliveryPerson.name}"></span> 
										<br/>
										<span th:text="${cm.deliveryPerson.phoneNumber}"></span>
									</div>
								</div>
							</div>
							</div>
							</div>
						</div>
						
					</div>
	
					<div class="card mt-4" th:unless="${#lists.isEmpty(order.notes)}">
						<h5 class="card-header">Notes For Customer</h5>
						<div class="card-body">
							
							<div th:unless="${#lists.isEmpty(order.notes)}"
								class="card bg-faded">
								<div th:each="cm : ${order.notes}" class="card-block">
									<div class="card-text">
										<span class="glyphicon glyphicon-user"></span> <span
											th:text="${cm.user.name}"></span> <span
											class="glyphicon glyphicon-time"></span> <span
											th:text="${beans.e2bconv.getDateAsBangla(#temporals.format(cm.createdOn, 'dd MMMM yyyy hh:mm a'))}"></span>
									</div>
									<div class="card-text mt-2">
										<div class="blockquote2" th:utext="${cm.notesSt}"></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card mt-4">
						<div class="card-header">Feedback</div>
						<div class="card-body">
							<form class="" id="feedbackUpdateForm"
								th:action="@{'/vendorprice/vendor-order-detail/update-order'}"
								th:object="${order}" method="post">
								
								<div class="form-group">
									<input type="hidden" th:field="*{id}" />
										
									<textarea class="form-control" th:field="*{feedbackSt}" id="feedbackSt" rows="3" ></textarea>
								</div>
								<button type="submit" class="btn btn-primary">Save</button>
								
							</form>
						</div>
					</div>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-sm-6">
					<div class="delivery-summary">
						<div class="delivery-wrapper">
							<h3 class="title">Delivery Address</h3>
							<p class="username" th:text="${order.user.name}"></p>
							<p class="address" th:text="${order.delivery_address}"></p>
							<p class="address" th:text="${order.delivery_city}"></p>
							<p class="address" th:text="${order.delivery_district}"></p>

							<!-- <span th:text="${order.orders.address}"></span> -->
						</div>
					</div>
					<div class="delivery-summary">
						<div class="delivery-wrapper">
							<h3 class="title">Billing Address</h3>
							<p class="username" th:text="${order.user.name}">ab himel</p>
							<p class="address" th:text="${order.billing_address}"></p>
							<p class="address" th:text="${order.billing_city}"></p>
							<p class="address" th:text="${order.billing_district}"></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
						<div class="row second-header">
								<span class="text bold pull-left">Total</span><span
									class="text bold total-price pull-right">৳ <span th:text="${order.payable_amount}"></span></span>
							</div>
							<div>
								<div class="row">
									<span class="text">&nbsp;</span><span class="text bold">Cash
										on Delivery</span>
								</div>
							</div>
				</div>
			</div>
		

	</div>

	<div th:replace="common :: commom-footer" th:remove="tag"></div>
	<div th:replace="common :: common-js" th:remove="tag"></div>
	<script th:src="@{/js/order.js}" src="js/order.js"></script>

</body>
</html>