<html>
	<head>
		<meta th:replace="common :: common-meta" th:remove="tag"/>
	</head>
	<body th:with="BASE64=${T(org.apache.tomcat.util.codec.binary.Base64)}">
		<div th:replace="common :: common-menu" th:remove="tag"></div>

		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-3 mt-5 mb-5 border-bottom-2px text-center">
					<h3>পণ্যের তালিকা </h3>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">

				<div class="col-lg-3 product-background" style="position: relative;">
					<p class="mb-2">পণ্য বাছাই করুন</p>

					<div th:each="tp : ${types}" th:remove="tag">
						<img th:src="${'data:image/png;base64,' + BASE64.encodeBase64String(tp.icon)}" src="images/icon-product-shak.png" /><a th:href="@{'/ponno/' + ${tp.id}}" class="types" th:text="${tp.name}">শাক </a> <br/>
					</div>

					<div style="position: absolute; bottom: 0; width: 85%;" class="pb-4">
						<p class="mb-0 color-red small">  এখানে গাছ সরাসরি খুঁজতে পারেন, </p>
						<div class="inner-addon right-addon">
							<i class="glyphicon fa fa-search" style="color: #a2a2a2;"></i>
							<input type="text" class="form-control w-100" placeholder="গাছের নাম লিখুন " />
						</div>
					</div>
				</div>
				<!-- product sidebar ends here -->

				<!-- product grid starts here -->
				<div class="col-lg-9 pl-5">

					<!-- search box -->
					<p class="color-red small">  এখানে গাছ সরাসরি খুঁজতে পারেন, </p>
					<div class="inner-addon right-addon">
						<i class="glyphicon fa fa-search" style="color: #a2a2a2;"></i>
						<input type="text" class="form-control w-100" placeholder="গাছের নাম লিখুন " />
					</div>

					<!-- breadcrumb & page selection -->
					<div class="row mt-4 mb-4">

						<div class="col-8">
							<p id="allponno" class="color-muted lead mb-0 alltype singleproduct" th:styleappend="'display: ' + ${type eq null ? 'block' : 'none'}">
								সব গাছ দেখানো হচ্ছে। বা-দিক থেকে গাছ টাইপ সেলেক্ট করতে পারেন।
							</p>
							<p id="alltype" class="lead mb-0 mt-3 allponno singleproduct" th:styleappend="'display: ' + ${type ne null ? 'block' : 'none'}">
								<span class="mr-2 text-muted" th:text="${type eq null ? '' : type.name}">শাক</span>
							</p>
							<p id="singleproduct" class="lead mb-0 mt-3 allponno alltype" style="display: none;">
								<span class="mr-2"><a class="types" id="typetext" href="">শাক</a></span>
								<span class="mr-2 small"><i class="fa fa-chevron-right"></i> </span>
								<span class="mr-2 text-muted" id="producttext">লাল শাক</span>
							</p>
						</div>

						<div class="col-4 text-right pagestoshow">
							<div class="form form-inline d-inline-block">
								<label for="" class=" d-inline-block">প্রতি পৃষ্ঠা  : </label>
								<select class="form-control pg pg2" id="pg1">
									<option value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option>
									<option value="9999999">All</option>
								</select>
							</div>
						</div>
					</div>
					<!-- end - breadcrumb & page selection -->

					<!-- product list -->
					<div class="row" id="pclp-container">
						<div th:remove="tag" th:fragment="products" th:with="BASE64=${T(org.apache.tomcat.util.codec.binary.Base64)}">
							<input type="hidden" id="totalproducts" th:value="${#lists.size(products)}"/>
							<div class="col-3 ponnoitems" th:each="prd, stat : ${products}" th:attr="data-index=${stat.index}">
								<a class="products" th:href="@{'/ponno/product/' + ${prd.id}}" th:attr="data-typehref=@{'/ponno/' + ${prd.type.id}}, data-typetext=${prd.type.name}">
									<p><img th:src="${'data:image/png;base64,' + BASE64.encodeBase64String(prd.image)}" src="images/tree-lal-shak.png" class="img-fluid"/></p>
									<p class="productname" th:text="${' ' + prd.name}"> লাল শাক  </p>
								</a>
							</div>
						
							<a href="" th:href="@{/layout}">
								<img src="images/btn-create-own-garden.jpg" class="img-fluid w-100 pl-3 pr-3 mt-5 mb-5" /></a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="all-ponno-lal-shak.php">
								<p><img src="images/tree-lal-shak.png" class="img-fluid"/></p>
								<p> লাল শাক  </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
							<p><img src="images/tree-kochu.png" class="img-fluid"/></p>
							<p> কচু  </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-kola.png" class="img-fluid"/></p>
								<p> কলা </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-pepe.png" class="img-fluid"/></p>
								<p> পেঁপে  </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-pui.png" class="img-fluid"/></p>
								<p> পুই শাক  </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-kola.png" class="img-fluid"/></p>
								<p> কলা </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-kochu.png" class="img-fluid"/></p>
								<p> কচু  </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-lal-shak.png" class="img-fluid"/></p>
								<p> লাল শাক  </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-pepe.png" class="img-fluid"/></p>
								<p> পেঁপে  </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-pui.png" class="img-fluid"/></p>
								<p> পুই শাক  </p>
							</a>
						</div>
					</div>

					<div id="paginationdiv" class="row mt-5">
						<nav aria-label="" class="m-auto">
							<ul class="pagination">
								<li class="page-item left disabled">
									<a class="page-link arrows leftarrow" href="#" tabindex="-1">
										<i class="fa fa-chevron-left"></i>
									</a>
								</li>
								<li class="page-item pages disabled">
									<a class="page-link" href="#">১</a></li>
								<li class="page-item pages">
									<a class="page-link" href="#">২ </a>
								</li>
								<li class="page-item pages">
									<a class="page-link" href="#">৩</a></li>
								<li class="page-item right">
									<a class="page-link arrows rightarrow" href="#">
										<i class="fa fa-chevron-right"></i>
									</a>
								</li>
							</ul>
						</nav>
					</div>

					<div class="row mt-4 mb-5 pagestoshow">
						<div class="col-4 offset-4 text-center">
							<div class="form form-inline d-inline-block">
								<label for="" class=" d-inline-block">প্রতি পৃষ্ঠা  : </label>
								<select class="form-control pg pg1" id="pg2">
									<option value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option>
									<option value="9999999">All</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row mt-5 mb-5 pagestoshow">&nbsp;</div>
				</div>
			</div>
		</div>

		<div th:replace="common :: common-js" th:remove="tag"></div>
		<div th:replace="common :: commom-footer" th:remove="tag"></div>
	</body>
</html>