<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta th:replace="common :: common-meta" th:remove="tag"/>
	</head>
	<body th:with="BASE64=${T(org.apache.tomcat.util.codec.binary.Base64)}" data-page="ponno">
		<div th:replace="common :: common-menu" th:remove="tag"></div>

		<div class="container mt-5">
			<div class="row">

				<div class="col-lg-3 product-background" style="position: relative;">

					<div th:each="tp : ${types}" th:remove="tag">
						<div style="margin-bottom: 2px; padding: 2px;" th:styleappend="${type eq null or type.id ne tp.id ? '' : ('background-color: yellowgreen;')}">
							<img th:unless="${#lists.isEmpty(tp.icon)}" style="width: 41px; height: 34px;" th:src="${'data:image/png;base64,' + BASE64.encodeBase64String(tp.icon)}" src="images/icon-product-shak.png" />
							<a th:href="@{'/products/' + ${tp.id}}" class="types" th:text="${tp.name}">শাক </a>
						</div>
					</div>

					<div class="pb-4" >
						<p class="mb-0 color-red small">এখানে পণ্য সরাসরি খুঁজতে পারেন,</p>
						<div class="inner-addon right-addon">
							<i class="glyphicon glyphicon-search" style="color: #a2a2a2;"></i>
							<input type="text" class="form-control autocomplete" placeholder="পণ্যের নাম লিখুন"
								th:attr="data-search=@{/search/products}, data-page=@{/products/##data##?product=##key##}"/>
						</div>
					</div>
				</div>
				<!-- product sidebar ends here -->

				<!-- product grid starts here -->
				<div class="col-lg-9 pl-5">
				
					<!-- search box -->
					<div class="inner-addon right-addon">
						<i class="glyphicon glyphicon-search" style="color: #a2a2a2;"></i>
						<input type="text" class="form-control autocomplete" placeholder="পণ্য সরাসরি খুঁজতে এখানে পণ্যের নাম লিখুন"
								th:attr="data-search=@{/search/products}, data-page=@{/products/##data##?product=##key##}"/>
					</div>

					<!-- breadcrumb & page selection -->
					<div class="row mt-3 mb-4">

						<div class="col-8" th:class="${product eq null ? 'col-8' : 'col-12'}">
							<p th:if="${type eq null}" id="allponno" class="color-muted lead mb-0">
								সব গাছ দেখানো হচ্ছে। বা-দিক থেকে গাছ টাইপ সেলেক্ট করতে পারেন।
							</p>
							<p th:if="${type ne null and product eq null}" id="alltype" class="lead mb-0">
								<span class="mr-2 text-muted" th:text="${type eq null ? '' : type.name}">শাক</span>
							</p>
							<p th:if="${product ne null}" id="singleproduct" class="lead mb-0">
								<span class="mr-2"><a class="types" id="typetext" href="" th:href="@{'/products/' + ${type.id}}" th:text="${type.name}">শাক</a></span>
								<span class="mr-2 small"><i class="fa fa-chevron-right"></i> </span>
								<span class="mr-2"  th:if="${NOT type.linkedToMaterial And product.parent ne null}"><a class="types" id="typetext" href="" th:href="@{'/products/' + ${type.id}+'?product='+${product.parent.id}}" th:text="${product.parent.name}">শাক</a></span>
								<span class="mr-2 small" th:if="${NOT type.linkedToMaterial And product.parent ne null}"><i class="fa fa-chevron-right"></i> </span>
								<span class="mr-2 text-muted" id="producttext" th:text="${product.name}">লাল শাক</span>
								<a th:if="${nextProduct ne null}" class="rightarrow pull-right" th:href="@{'/products/' + ${type.id} + ${type.linkedToMaterial ? '?material=' : '?product='} + ${nextProduct.id}}" tabindex="-1" style="margin-left: 30px;" th:title="${nextProduct.name}">
									<img th:src="${'data:image/png;base64,' + BASE64.encodeBase64String(type.linkedToMaterial ? nextProduct.image : nextProduct.icon)}" src="images/tree-lal-shak.png" class="img-fluid" style="height: 30px; width: 30px;"/>
									<i class="fa fa-chevron-right" style="vertical-align: middle;"></i>
								</a>
								<a th:if="${previousProduct ne null}" class="leftarrow pull-right" th:href="@{'/products/' + ${type.id} + ${type.linkedToMaterial ? '?material=' : '?product='} + ${previousProduct.id}}" tabindex="-1" th:title="${previousProduct.name}">
									<i class="fa fa-chevron-left" style="vertical-align: middle;"></i>
									<img th:src="${'data:image/png;base64,' + BASE64.encodeBase64String(type.linkedToMaterial ? previousProduct.image : previousProduct.icon)}" src="images/tree-lal-shak.png" class="img-fluid" style="height: 30px; width: 30px;"/>
								</a>
							</p>
						</div>

						<div th:if="${product eq null}" class="col-4 text-right">
							<div class="form form-inline d-inline-block">
								<label for="" class=" d-inline-block">প্রতি পৃষ্ঠা  : </label>
								<select class="form-control pg pg2" id="pg1">
									<option value="10" th:text="${beans.e2bconv.getBengali(10)}">10</option>
									<option value="25" th:text="${beans.e2bconv.getBengali(25)}">25</option>
									<option value="50" th:text="${beans.e2bconv.getBengali(50)}">50</option>
									<option value="100" th:text="${beans.e2bconv.getBengali(100)}">100</option>
									<option value="99999">All</option>
								</select>
							</div>
						</div>
					</div>
					<!-- end - breadcrumb & page selection -->

					<!-- product list -->
					<div class="row" id="pclp-container">
						<div th:if="${product eq null}" th:remove="tag" th:fragment="products" th:with="BASE64=${T(org.apache.tomcat.util.codec.binary.Base64)}">
							<input type="hidden" id="totalproducts" th:value="${#lists.size(products)}"/>
							<div class="col-3 ponnoitems" th:each="prd, stat : ${products}" th:attr="data-index=${stat.index + 1}">
								<a class="products" th:href="@{'/products/' + ${type eq null ? '' : type.id} + ${type ne null and type.linkedToMaterial ? '?material=' : '?product='} + ${prd.id}}">
									<p><img th:src="${'data:image/png;base64,' + BASE64.encodeBase64String(prd.image)}" src="images/tree-lal-shak.png" class="img-fluid"/></p>
									<p class="productname" th:text="${' ' + prd.name}"> লাল শাক  </p>
								</a>
							</div>
						</div>
						<div th:if="${product ne null}" th:remove="tag">
							<div th:remove="tag" th:replace="site/product"></div>
						</div>
						<div class="col-3" th:remove="all">
							<a href="all-ponno-lal-shak.php">
								<p><img src="images/tree-lal-shak.png" class="img-fluid"/></p>
								<p> লাল শাক  </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
							<p><img src="images/tree-kochu.png" class="img-fluid"/></p>
							<p> কচু  </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-kola.png" class="img-fluid"/></p>
								<p> কলা </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-pepe.png" class="img-fluid"/></p>
								<p> পেঁপে  </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-pui.png" class="img-fluid"/></p>
								<p> পুই শাক  </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-kola.png" class="img-fluid"/></p>
								<p> কলা </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-kochu.png" class="img-fluid"/></p>
								<p> কচু  </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-lal-shak.png" class="img-fluid"/></p>
								<p> লাল শাক  </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-pepe.png" class="img-fluid"/></p>
								<p> পেঁপে  </p>
							</a>
						</div>
						<div class="col-3" th:remove="all">
							<a href="">
								<p><img src="images/tree-pui.png" class="img-fluid"/></p>
								<p> পুই শাক  </p>
							</a>
						</div>
					</div>

					<div th:if="${product eq null}" id="paginationdiv" class="row mt-5">
						<nav aria-label="" class="m-auto">
							<ul class="pagination">
								<li class="page-item left disabled">
									<a class="page-link arrows leftarrow" href="#" tabindex="-1">
										<i class="fa fa-chevron-left"></i>
									</a>
								</li>
								<li class="page-item pages disabled">
									<a class="page-link" href="#">১</a></li>
								<li class="page-item pages">
									<a class="page-link" href="#">২ </a>
								</li>
								<li class="page-item pages">
									<a class="page-link" href="#">৩</a></li>
								<li class="page-item right">
									<a class="page-link arrows rightarrow" href="#">
										<i class="fa fa-chevron-right"></i>
									</a>
								</li>
							</ul>
						</nav>
					</div>

					<div th:if="${product eq null}" class="row mt-4 mb-5 pagestoshow">
						<div class="col-4 offset-4 text-center">
							<div class="form form-inline d-inline-block">
								<label for="" class=" d-inline-block">প্রতি পৃষ্ঠা  : </label>
								<select class="form-control pg pg1" id="pg2">
									<option value="10" th:text="${beans.e2bconv.getBengali(10)}">10</option>
									<option value="25" th:text="${beans.e2bconv.getBengali(25)}">25</option>
									<option value="50" th:text="${beans.e2bconv.getBengali(50)}">50</option>
									<option value="100" th:text="${beans.e2bconv.getBengali(100)}">100</option>
									<option value="99999">All</option>
								</select>
							</div>
						</div>
					</div>
					<div th:if="${product eq null}" class="row mt-5 mb-5 pagestoshow">&nbsp;</div>
				</div>
			</div>
		</div>

		<div th:replace="common :: commom-footer" th:remove="tag"></div>
		<div th:replace="common :: common-js" th:remove="tag"></div>
	</body>
</html>