<div th:remove="tag" th:with="BASE64=${T(org.apache.tomcat.util.codec.binary.Base64)}" xmlns:th="http://www.thymeleaf.org">
	<div id="product-description-container" class="col-7 preventcopy">
		<div class="product-description-text">
			<div id="prod-desc-upper">
				<!--  product image -->
				<p th:if="${product.image ne null}">
					<img width="40%" height="100vw" style="margin-bottom: 5px; width:100%" th:src="${'data:image/png;base64,' + BASE64.encodeBase64String(product.image)}" src="images/tree-lal-shak.png" class="img-fluid pt-2" />					
				</p>
				<div id="product-commerce">
					<!--  product price -->
					<div id="price-range" class="mb-2">
						<span th:text="${productMinPrice.price}"></span> -
						<span th:text="${productMaxPrice.price}"></span> টাকা
					</div>
					
					<!--  product buy button -->
					<div>
						<a sec:authorize="${hasRole('ROLE_GARDENER') || !isAuthenticated()}" class="products btn btn-success" th:href= "@{'/buy/' + ${product.id}}">কিনুন </a>
					</div>
				</div>
			</div>
			
			<p th:each="dsc, stat : ${product.detailsList}" align="justify">
				<span th:utext="${dsc}" th:remove="tag"></span>
			</p>
			<p th:remove="all">লাল শাক রূপে যেমন মনোহারী গুণেও তেমন কার্যকরী। পাতের ভাতকে
				নতুন রূপ দিতেও সেরা। ছোট বড় সবাই এর স্বাদের ভক্ত।</p>
			<p th:remove="all">লাল শাক, ডাঁটা শাক বা ডাঙ্গা শাক, এরা সবই একই গোত্রের এবং এদের
				প্রজাতিও একই। বিশ্বের অন্য দেশে এদেরকে ফুলের গাছ হিসাবে ব্যবহার করা
				হলেও আমাদের বাংলাদেশে কিন্তু আমরা একে সবজি হিসাবে ব্যবহার করি।</p>
		</div>
	</div>
	<div class="col-5" style="padding-left: 20px;">
		<div class="form-group">
			<label class="color-red small" for="">এই নার্সারিগুলিতে পাওয়া যেতে পারে, </label>
			<select class="form-control" id="areaselection">
				<option value="">এলাকা বাছাই করুন</option>
				<option th:each="area : ${areas}" th:value="${area.id}" th:text="${area.name}">2</option>
				<option th:remove="all">3</option>
				<option th:remove="all">4</option>
				<option th:remove="all">5</option>
			</select>
		</div>

		<hr />

		<div th:each="nursery : ${nurseries}">
			<div class="row no-gutters nurseries" th:classappend="${nursery.area.id}">
				<div class="col-1">
					<i class="fa fa-leaf"
						style="font-size: 20px; color: #345C05; margin-top: 14px;"></i>
				</div>
				<div class="col-6 pl-0 d-inline-block">
					<div class="mt-2">
						<p class="color-green lead"><a th:href="@{'/vendor/' + ${nursery.id}}" th:text="${nursery.name}">মোল্লাপারা সরকারী নার্সারি</a></p>
						<span th:remove="tag" th:text="${nursery.address}">১০ কাজিপারা এভিনিউ, মিরপুর ১০২০</span><br /> ফোন : <span th:remove="tag" th:text="${nursery.phone}">+৮৮ ০১৭২৩ ৫৭২৮৯৬</span>
					</div>
				</div>
	
				<div class="col-4 text-right d-inline-block mt-2" style="vertical-align: top;">
					<img th:src="${'data:image/png;base64,' + BASE64.encodeBase64String(nursery.type.image)}" src="images/nursery-logo-govt.jpg"/>
				</div>
			</div>

			<hr class="nurseries" th:classappend="${nursery.area.id}" />
		</div>
	</div>
</div>