<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta th:replace="common :: common-meta" th:remove="tag"/>
	</head>
	<body data-page="nursery">
		<div th:replace="common :: common-manage-menu" th:remove="tag"></div>

		<div class="container" style="margin-top: 15px;">
			<div class="row">
				<div class="accordion col-sm-12" id="accordionExample">
					<div class="card">
						<div class="card-header" id="headingOne" style="cursor: pointer;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<h5 class="mb-0">Nursery</h5>
						</div>
						<div id="collapseOne" class="collapse" th:classappend="${bean.id ne null ? 'show' : ''}" aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body" style="margin-top: 15px;">
								<div class="col-sm-6 offset-sm-3">
									<form class="form-horizontal" th:action="@{'/manage/nursery'}" th:object="${bean}" method="post">
										<div class="form-group row" th:if="${bean.id ne null}">
											<label class="col-form-label col-form-label-sm col-sm-3" for="id">Code:</label>
											<div class="col-sm-2">
												<p class="form-control-static form-control-sm" th:text="${bean.id}"></p>
											</div>
											<input type="hidden" th:field="*{id}" />
										</div>
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="name">Name:</label>
											<div class="col-sm-9">
												<input required="" type="text" class="form-control form-control-sm" th:field="*{name}" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="type">Type:</label>
											<div class="col-sm-9">
												<select th:field="*{type}">
													<option th:each="tp : ${types}" th:value="${tp.id}" th:text="${tp.name}"></option>
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="type">Division:</label>
											<div class="col-sm-9">
												<select th:field="*{division}" required="required" th:onchange="'javascript:loadChildDemographicData(this,\'district\')'">
													<option th:each="tp : ${divisions}" th:value="${tp.id}" th:text="${tp.name}"></option>
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="type">District:</label>
											<div class="col-sm-9">
												<select th:field="*{district}" required="required"  th:onchange="'javascript:loadChildDemographicData(this,\'city\')'">
													<option th:each="tp : ${districts}" th:value="${tp.id}" th:text="${tp.name}"></option>
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="type">City:</label>
											<div class="col-sm-9">
												<select th:field="*{city}" required="required">
													<option th:each="tp : ${cities}" th:value="${tp.id}" th:text="${tp.name}"></option>
												</select>
											</div>
										</div>
										
										
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="address">Address:</label>
											<div class="col-sm-9">
												<textarea class="form-control form-control-sm" th:field="*{address}"></textarea>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="phone">Phone:</label>
											<div class="col-sm-9">
												<input type="text" class="form-control form-control-sm" th:field="*{phone}" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="location">Location:</label>
											<input type="hidden" class="form-control form-control-sm" th:field="*{latitude}" />
											<input type="hidden" class="form-control form-control-sm" th:field="*{longitude}" />
											<div class="col-sm-9">
												<div id="locationmap" style="height: 200px; width: 100%"></div>
											</div>
										</div>
										<div class="col-sm-6 offset-sm-6">
											<div class="form-group">
												<a th:if="${bean.id ne null}" type="button" href="/manage/nursery" class="btn btn-warning">New</a>
												<button type="submit" class="btn btn-success">Save</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="card rememberme">
						<div class="card-header" id="headingTwo" style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
							<h5 id="list" class="mb-0 clickme">List</h5>
						</div>
						<div id="collapseTwo" class="collapse" th:classappend="${bean.id eq null ? 'show' : ''}" aria-labelledby="headingTwo" data-parent="#accordionExample">
							<div class="card-body" style="margin-top: 15px;">
								<div class="col-sm-12" style="margin-top: 15px;">
									<table th:if="${allbeans ne null and !#lists.isEmpty(allbeans)}"
										class="dttable reorder table table-striped table-bordered" cellspacing="0" width="100%"
										data-columndefs="sequence,name,area-true-filter all,type-true-filter all,address,phone,latitude,longitude,buttons,id-false"
										th:attr="data-actionurl=@{/manage/nursery/table}">
										<thead>
											<tr>
												<th>Order</th>
												<th>Name</th>
												<th>Type</th>
												<th>Address</th>
												<th>Phone</th>
												<th>Latitude</th>
												<th>Longitude</th>
												<th>
													<a class="btn btn-info btn-sm pull-right" th:href="@{'/manage/nursery'}"><span class="glyphicon glyphicon-plus"></span></a>
												</th>
												<th>Code</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="bean : ${allbeans}">
												<td th:text="${bean.sequence}"></td>
												<td th:text="${bean.name}"></td>
												<td th:text="${bean.type.name}"></td>
												<td th:text="${bean.address}"></td>
												<td th:text="${bean.phone}"></td>
												<td th:text="${bean.latitude}"></td>
												<td th:text="${bean.longitude}"></td>
												<td>
													<a class="btn btn-info btn-sm pull-right" th:href="@{'/manage/nursery/' + ${bean.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
													<button type="button" class="btn btn-danger btn-sm pull-right rmvbtn" th:attr="data-remote=@{'/manage/nursery/' + ${bean.id}}"><span class="glyphicon glyphicon-trash"></span></button>
												</td>
												<td th:text="${bean.id}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="card rememberme" th:if="${bean.id ne null}">
						<div class="card-header" id="headingThree" style="cursor: pointer;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
							<h5 id="prices" class="mb-0 clickme" th:classappend="${clickonload ne null and clickonload eq 'list' ? 'clickonload' : ''}">Prices</h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
							<div class="card-body" style="margin-top: 15px;">
								<div class="row" th:fragment="nurseryprices">
									<div class="col-sm-5 offset-sm-1">
										<form class="form-horizontal" th:action="@{${basePath} + ${bean.id} + '/product/price'}"
											method="post" enctype="multipart/form-data">
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-5"></label>
												<div class="col-sm-7">
													<a th:href="@{${basePath} + ${bean.id} + '/product/price'}" target="_blank" class="btn btn-warning pull-right">Export Prices</a>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-5" for="pfile">Products price file (csv):</label>
												<div class="col-sm-7">
													<input id="pfile" required="required" type="file" accept=".csv" class="form-control form-control-sm" name="file" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-5"></label>
												<div class="col-sm-7">
													<button type="submit" class="btn btn-primary pull-right">Import</button>
												</div>
											</div>
										</form>
										<hr/>
										<form class="form-horizontal" th:action="@{${basePath} + ${bean.id} + '/product'}" method="post">
<!-- 											<div class="form-group row"> -->
<!-- 												<label class="col-form-label col-form-label-sm col-sm-3" for="product">Product:</label> -->
<!-- 												<div class="col-sm-9"> -->
<!-- 													<select id="product" name="product" class="form-control form-control-sm"> -->
<!-- 														<option th:each="pr : ${prods}" th:value="${pr.id}" -->
<!-- 															th:attr="data-stypes=${prodAvSTypes[pr.id]}" -->
<!-- 															th:text="${pr.type.name + ' - ' + pr.name}"></option> -->
<!-- 													</select> -->
<!-- 												</div> -->
<!-- 											</div> -->
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="saleType">Sale Type:</label>
												<div class="col-sm-9">
													<select id="saleType" name="saleType" class="form-control form-control-sm">
														<option th:each="st : ${stypes}" th:value="${st.id}" th:text="${st.name}"></option>
													</select>
													<input th:each="st : ${stypes}" type="hidden" th:id="${'stp-' + st.id}" th:value="${st.name}"/>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="price">Price:</label>
												<div class="col-sm-9">
													<input required="" type="number" class="form-control form-control-sm" name="price" />
												</div>
											</div>
											<div class="col-sm-4 offset-sm-8">
												<div class="form-group">
													<button type="submit" class="btn btn-success">Add</button>
												</div>
											</div>
										</form>
										<hr/>
										<table class="dttable table table-striped table-bordered"
											data-columndefs="product,saletype,price,btn">
											<thead>
												<tr>
													<th>Product</th>
													<!-- <th>Sale Type</th> -->
													<th style="text-align: right;">Price</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="pr : ${productprices}">
													<td th:text="${pr.product.name}"></td>
													<!-- <td th:text="${pr.saleType.name}"></td> -->
													<td th:text="${pr.price}" style="text-align: right;"></td>
													<td>
														<button type="button" class="btn btn-danger btn-sm pull-right rmvbtn" th:attr="data-remote=@{${basePath} + ${bean.id} + '/product/' + ${pr.id}}"><span class="glyphicon glyphicon-trash"></span></button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-sm-5">
										<form class="form-horizontal" th:action="@{${basePath} + ${bean.id} + '/material/price'}"
											method="post" enctype="multipart/form-data">
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-5"></label>
												<div class="col-sm-7">
													<a th:href="@{${basePath} + ${bean.id} + '/material/price'}" target="_blank" class="btn btn-warning pull-right">Export Prices</a>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-5" for="mfile">Materials price file (csv):</label>
												<div class="col-sm-7">
													<input id="mfile" required="required" type="file" accept=".csv" class="form-control form-control-sm" name="file" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-5"></label>
												<div class="col-sm-7">
													<button type="submit" class="btn btn-primary pull-right">Import</button>
												</div>
											</div>
										</form>
										<hr/>
										<form class="form-horizontal" th:action="@{${basePath} + ${bean.id} + '/material'}" method="post">
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="material">Material:</label>
												<div class="col-sm-9">
													<select name="material" class="form-control form-control-sm">
														<option th:each="mt : ${materials}" th:value="${mt.id}" th:text="${mt.type.name + ' - ' + mt.name}"></option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="price">Price:</label>
												<div class="col-sm-9">
													<input required="" type="number" class="form-control form-control-sm" name="price" />
												</div>
											</div>
											<div class="col-sm-4 offset-sm-8">
												<div class="form-group">
													<button type="submit" class="btn btn-success">Add</button>
												</div>
											</div>
										</form>
										<hr/>
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>Material</th>
													<th style="text-align: right;">Price</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="mt : ${materialprices}">
													<td th:text="${mt.material.name}"></td>
													<td th:text="${mt.price}" style="text-align: right;"></td>
													<td>
														<button type="button" class="btn btn-danger btn-sm pull-right rmvbtn" th:attr="data-remote=@{${basePath} + ${bean.id} + '/material/' + ${mt.id}}"><span class="glyphicon glyphicon-trash"></span></button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="common :: commom-footer" th:remove="tag"></div>
			<div th:replace="common :: common-js" th:remove="tag"></div>
			<script th:src="@{/js/nursery.js}" src="js/nursery.js" ></script>
		</div>
		<script async="async" defer="defer"
						th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyAeuIoWq7e51lQ0AMUQVlKwU038aZBa23c&amp;callback=initLocationMap}"></script>
	</body>
</html>