<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta th:replace="common :: common-meta" th:remove="tag"/>
	</head>
	<body data-page="nursery">
		<div th:replace="common :: common-manage-menu" th:remove="tag"></div>

		<div class="container" style="margin-top: 15px;">
			<div class="row">
				<div class="accordion col-sm-12" id="accordionExample">
					<div class="card">
						<div class="card-header" id="headingOne" style="cursor: pointer;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<h5 class="mb-0">Nursery</h5>
						</div>
						<div id="collapseOne" class="collapse" th:classappend="${bean.id ne null ? 'show' : ''}" aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body" style="margin-top: 15px;">
								<div class="col-sm-6 offset-sm-3">
									<form class="form-horizontal" th:action="@{'/manage/nursery'}" th:object="${bean}" method="post">
										<div class="form-group row" th:if="${bean.id ne null}">
											<label class="col-form-label col-form-label-sm col-sm-3" for="id">Code:</label>
											<div class="col-sm-2">
												<p class="form-control-static form-control-sm" th:text="${bean.id}"></p>
											</div>
											<input type="hidden" th:field="*{id}" />
										</div>
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="name">Name:</label>
											<div class="col-sm-9">
												<input required="" type="text" class="form-control form-control-sm" th:field="*{name}" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="type">Type:</label>
											<div class="col-sm-9">
												<select th:field="*{type}">
													<option th:each="tp : ${types}" th:value="${tp.id}" th:text="${tp.name}"></option>
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="type">Division:</label>
											<div class="col-sm-9">
												<select th:field="*{division}" required="required" th:onchange="'javascript:loadChildDemographicData(this,\'district\',\'city\', true)'">
													<option th:each="tp : ${divisions}" th:value="${tp.id}" th:text="${tp.name}"></option>
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="type">District:</label>
											<div class="col-sm-9">
												<select th:field="*{district}" required="required"  th:onchange="'javascript:loadChildDemographicData(this,\'city\',null, true)'">
													<option th:each="tp : ${districts}" th:value="${tp.id}" th:text="${tp.name}"></option>
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="type">City:</label>
											<div class="col-sm-9">
												<select th:field="*{city}" required="required">
													<option th:each="tp : ${cities}" th:value="${tp.id}" th:text="${tp.name}"></option>
												</select>
											</div>
										</div>
										
										
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="address">Address:</label>
											<div class="col-sm-9">
												<textarea class="form-control form-control-sm" th:field="*{address}"></textarea>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="phone">Phone:</label>
											<div class="col-sm-9">
												<input type="text" class="form-control form-control-sm" th:field="*{phone}" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-form-label-sm col-sm-3" for="location">Location:</label>
											<input type="hidden" class="form-control form-control-sm" th:field="*{latitude}" />
											<input type="hidden" class="form-control form-control-sm" th:field="*{longitude}" />
											<div class="col-sm-9">
												<div id="locationmap" style="height: 200px; width: 100%"></div>
											</div>
										</div>
										<div class="col-sm-6 offset-sm-6">
											<div class="form-group">
												<a th:if="${bean.id ne null}" type="button" href="/manage/nursery" class="btn btn-warning">New</a>
												<button type="submit" class="btn btn-success">Save</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="card rememberme">
						<div class="card-header" id="headingTwo" style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
							<h5 id="list" class="mb-0 clickme">List</h5>
						</div>
						<div id="collapseTwo" class="collapse" th:classappend="${bean.id eq null ? 'show' : ''}" aria-labelledby="headingTwo" data-parent="#accordionExample">
							<div class="card-body" style="margin-top: 15px;">
								<div class="col-sm-12" style="margin-top: 15px;">
									<table th:if="${allbeans ne null and !#lists.isEmpty(allbeans)}"
										class="dttable reorder table table-striped table-bordered" cellspacing="0" width="100%"
										data-columndefs="sequence,name,area-true-filter all,type-true-filter all,address,phone,latitude,longitude,buttons,id-false"
										th:attr="data-actionurl=@{/manage/nursery/table}">
										<thead>
											<tr>
												<th>Order</th>
												<th>Name</th>
												<th>Type</th>
												<th>Address</th>
												<th>Phone</th>
												<th>Latitude</th>
												<th>Longitude</th>
												<th>
													<a class="btn btn-info btn-sm pull-right" th:href="@{'/manage/nursery'}"><span class="glyphicon glyphicon-plus"></span></a>
												</th>
												<th>Code</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="bean : ${allbeans}">
												<td th:text="${bean.sequence}"></td>
												<td th:text="${bean.name}"></td>
												<td th:text="${bean.type.name}"></td>
												<td th:text="${bean.address}"></td>
												<td th:text="${bean.phone}"></td>
												<td th:text="${bean.latitude}"></td>
												<td th:text="${bean.longitude}"></td>
												<td>
													<a class="btn btn-info btn-sm pull-right" th:href="@{'/manage/nursery/' + ${bean.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
													<button type="button" class="btn btn-danger btn-sm pull-right rmvbtn" th:attr="data-remote=@{'/manage/nursery/' + ${bean.id}}"><span class="glyphicon glyphicon-trash"></span></button>
												</td>
												<td th:text="${bean.id}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>

			<div th:replace="common :: commom-footer" th:remove="tag"></div>
			<div th:replace="common :: common-js" th:remove="tag"></div>
			<script th:src="@{/js/nursery.js}" src="js/nursery.js" ></script>
		</div>
		<script async="async" defer="defer"
						th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyAeuIoWq7e51lQ0AMUQVlKwU038aZBa23c&amp;callback=initLocationMap}"></script>
	</body>
</html>