<html>
	<head>
		<meta th:replace="common :: common-meta" th:remove="tag"/>
	</head>
	<body th:with="BASE64=${T(org.apache.tomcat.util.codec.binary.Base64)}">
		<div th:replace="common :: common-manage-menu" th:remove="tag"></div>

		<div class="container" style="margin-top: 15px;">
			<div class="row">
				<div class="accordion col-sm-12" id="accordionExample">
					<div class="card">
						<div class="card-header" id="headingOne" style="cursor: pointer;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<h5 class="mb-0">Product</h5>
						</div>
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body" style="margin-top: 15px;">
								<div class="row">
									<div class="col-sm-8 offset-sm-1">
										<form class="form-horizontal" th:action="@{'/manage/product'}" th:object="${bean}" method="post" enctype="multipart/form-data">
											<div class="form-group row" th:if="${bean.id ne null}">
												<label class="col-form-label col-form-label-sm col-sm-3" for="id">কোডঃ</label>
												<div class="col-sm-2">
													<p class="form-control-static form-control-sm" th:text="${beans.e2bconv.getBengali(bean.id)}"></p>
												</div>
												<input type="hidden" th:field="*{id}" />
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="type">শ্রেণীঃ</label>
												<div class="col-sm-9">
													<select th:field="*{type}" class="form-control form-control-sm">
														<option th:each="tp : ${types}" th:value="${tp.id}" th:text="${tp.name}"></option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="name">নামঃ</label>
												<div class="col-sm-9">
													<input required="" type="text" class="form-control form-control-sm" th:field="*{name}" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="alternativeName">ইংরেজি নামঃ</label>
												<div class="col-sm-9">
													<input type="text" class="form-control form-control-sm" th:field="*{alternativeName}" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="benefits">পুষ্টিগুণঃ</label>
												<div class="col-sm-9">
													<textarea class="form-control form-control-sm" th:field="*{benefits}"></textarea>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="usefulVarieties">ছাদের উপযোগী জাতঃ</label>
												<div class="col-sm-9">
													<textarea class="form-control form-control-sm" th:field="*{usefulVarieties}"></textarea>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="suitableContainer">উপযোগী পাত্রঃ</label>
												<div class="col-sm-9">
													<textarea class="form-control form-control-sm" th:field="*{suitableContainer}"></textarea>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="suitableTime">লাগানোর উপযুক্ত সময়ঃ</label>
												<div class="col-sm-9">
													<textarea class="form-control form-control-sm" th:field="*{suitableTime}"></textarea>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="landPreparation">মাটি তৈরিঃ</label>
												<div class="col-sm-9">
													<textarea class="form-control form-control-sm" th:field="*{landPreparation}"></textarea>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="seedlingType">চারার ধরণঃ</label>
												<div class="col-sm-9">
													<textarea class="form-control form-control-sm" th:field="*{seedlingType}"></textarea>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="careness">পরিচর্যাঃ</label>
												<div class="col-sm-9">
													<textarea class="form-control form-control-sm" th:field="*{careness}"></textarea>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="place">স্হানঃ</label>
												<div class="col-sm-9">
													<textarea class="form-control form-control-sm" th:field="*{place}"></textarea>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="hormone">হরমোনঃ</label>
												<div class="col-sm-9">
													<textarea class="form-control form-control-sm" th:field="*{hormone}"></textarea>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="pesticides">কীটনাশক বা ছত্রাকনাশকঃ</label>
												<div class="col-sm-9">
													<textarea class="form-control form-control-sm" th:field="*{pesticides}"></textarea>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="caution">সতর্কতাঃ</label>
												<div class="col-sm-9">
													<textarea class="form-control form-control-sm" th:field="*{caution}"></textarea>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="productivity">ফলনঃ</label>
												<div class="col-sm-9">
													<textarea class="form-control form-control-sm" th:field="*{productivity}"></textarea>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="icon">আইকনঃ</label>
												<div class="col-sm-9">
													<input id="icon" th:required="${bean.id eq null}" type="file" accept=".jpg,.png" class="form-control form-control-sm uploadimg" name="iconFile" />
													<img height="35px" width="35px" name="icon" id="iconimage" class="imgtoshow pull-right" th:src="${bean.icon eq null ? '' : ('data:image/png;base64,' + BASE64.encodeBase64String(bean.icon))}" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-form-label-sm col-sm-3" for="image">ছবিঃ</label>
												<div class="col-sm-9">
													<input id="image" th:required="${bean.id eq null}" type="file" accept=".jpg,.png" class="form-control form-control-sm uploadimg" name="imageFile" />
													<img height="165px" width="165px" id="imageimage" class="imgtoshow pull-right" th:src="${bean.image eq null ? '' : ('data:image/png;base64,' + BASE64.encodeBase64String(bean.image))}" />
												</div>
											</div>
											<div class="col-sm-4 offset-sm-8">
												<div class="form-group">
													<a th:if="${bean.id ne null}" type="button" href="/manage/product" class="btn btn-warning">নতুন</a>
													<button type="submit" class="btn btn-success">সংরক্ষন</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card rememberme">
						<div class="card-header" id="headingTwo" style="cursor: pointer;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
							<h5 id="list" class="mb-0 clickme">List</h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
							<div class="card-body">
								<div class="col-sm-12" style="margin-top: 15px;">
									<table th:if="${allbeans ne null and !#lists.isEmpty(allbeans)}"
										class="dttable reorder table table-striped table-bordered" cellspacing="0" width="100%"
										data-columndefs="sequence,name,alternativeName,details,type-true-filter,productivity,benefits,icon,image,buttons,id-false"
										th:attr="data-actionurl=@{/manage/product/table}">
										<thead>
											<tr>
												<th>Order</th>
												<th>Name</th>
												<th>Alt Name</th>
												<th>details</th>
												<th>Type</th>
												<th>Productivity</th>
												<th>Benefits</th>
												<th>Icon</th>
												<th>Image</th>
												<th>
													<a class="btn btn-info btn-sm pull-right" th:href="@{'/manage/product'}"><span class="glyphicon glyphicon-plus"></span></a>
												</th>
												<th>Code</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="bean : ${allbeans}">
												<td th:text="${bean.sequence}"></td>
												<td th:text="${bean.name}"></td>
												<td th:text="${bean.alternativeName}"></td>
												<td th:attr="title=${bean.details}" th:text="${#strings.length(bean.details) gt 15 ? (#strings.substring(bean.details, 0, 15) + '...') : bean.details}"></td>
												<td th:text="${bean.type.name}"></td>
												<td th:attr="title=${bean.productivity}" th:text="${#strings.length(bean.productivity) gt 15 ? (#strings.substring(bean.productivity, 0, 15) + '...') : bean.productivity}"></td>
												<td th:attr="title=${bean.benefits}" th:text="${#strings.length(bean.benefits) gt 15 ? (#strings.substring(bean.benefits, 0, 15) + '...') : bean.benefits}"></td>
												<td><img height="35px" width="35px" th:src="${'data:image/png;base64,' + BASE64.encodeBase64String(bean.icon)}"/></td>
												<td class="hoverme">Hover here<img height="165px" width="165px" th:src="${'data:image/png;base64,' + BASE64.encodeBase64String(bean.image)}"/></td>
												<td>
													<a class="btn btn-info btn-sm pull-right" th:href="@{'/manage/product/' + ${bean.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
													<button type="button" class="btn btn-danger btn-sm pull-right rmvbtn" th:attr="data-remote=@{'/manage/product/' + ${bean.id}}"><span class="glyphicon glyphicon-trash"></span></button>
												</td>
												<td th:text="${bean.id}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="common :: commom-footer" th:remove="tag"></div>
			<div th:replace="common :: common-js" th:remove="tag"></div>
		</div>
	</body>
</html>