<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta th:replace="common :: common-meta" th:remove="tag"/>
	</head>
	<body>
		<div th:replace="common :: common-manage-menu" th:remove="tag"></div>

		<div class="container" style="margin-top: 15px;">
			<div class="row">
				<div class="col-sm-6">
					<form class="form-horizontal" id="saveproductproperty" th:action="@{'/manage/productproperty/saveorupdate'}" th:object="${bean}" method="post">
						<div class="form-group row" th:if="${bean.id ne null}">
							<label class="col-form-label col-form-label-sm col-sm-4" for="id">Code:</label>
							<div class="col-sm-2">
								<p class="form-control-static form-control-sm" th:text="${bean.id}"></p>
							</div>
							<input type="hidden" th:field="*{id}" />
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-4" for="name">Name:</label>
							<div class="col-sm-8">
								<input required="" type="text" class="form-control form-control-sm" th:field="*{name}" />
							</div>
						</div>
						<div class="form-group row">
						   <label th:for="isDisabled" th:text="'IsDisabled:'"></label>
						   <input type="checkbox" th:field="*{isDisabled}" />
						</div>
						<div class="col-sm-4 offset-sm-8">
							<div class="form-group">
								<!-- <a th:if="${bean.id ne null}" type="button" href="/manage/productproperty" class="btn btn-warning">New</a> -->
								<button type="submit" class="btn btn-success">Save</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-6">
					<table th:if="${allbeans ne null and !#lists.isEmpty(allbeans)}"
						class="dttable table table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Code</th>
								<th>Name</th>
								<th>IsDisabled</th>
								<th>
									<a class="btn btn-info btn-sm pull-right" th:href="@{'/manage/productproperty'}"><span class="glyphicon glyphicon-plus"></span></a>
								</th>
							</tr>
						</thead>
						<tbody id="productpropertybody">
							<tr th:each="bean : ${allbeans}">
								<td th:text="${bean.id}"></td>
								<td th:text="${bean.name}"></td>
								<td th:text="${bean.isDisabled}"></td>
								<td>
									<!-- <a class="btn btn-info btn-sm pull-right" th:href="@{'/manage/productproperty/' + ${bean.id}}"><span class="glyphicon glyphicon-pencil"></span></a> -->
									<button type="button" onclick="'loadProperty('+'${bean.id}'+','+'${bean.name}'+','+'${bean.isDisabled}'+')'" class="btn btn-info btn-sm pull-right" ><span class="glyphicon glyphicon-pencil"></span></button>								
									<button type="button" class="btn btn-danger btn-sm pull-right rmvbtn" th:attr="data-remote=@{'/manage/productproperty/delete/' + ${bean.id}}"><span class="glyphicon glyphicon-trash"></span></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div th:replace="common :: commom-footer" th:remove="tag"></div>
			<div th:replace="common :: common-js" th:remove="tag"></div>
			
			<script th:src="@{/js/productproperty.js}" src="js/productproperty.js"></script>
		</div>
	</body>
</html>