<html>
	<head>
		<meta th:replace="common :: common-meta" th:remove="tag"/>
	</head>
	<body>
		<div th:replace="common :: common-manage-menu" th:remove="tag"></div>

		<div class="container" style="margin-top: 15px;">
			<div class="row">
				<div class="col-sm-5">
					<form class="form-horizontal" th:action="@{'/manage/user'}" th:object="${bean}" method="post">
						<div th:if="${error ne null}" class="col-sm-12 alert alert-danger" style="text-align: center; padding: 5px;">
							<span th:text="${error}"></span>
						</div>
						<div th:if="${bean.id ne null}" th:remove="tag">
							<div class="form-group row">
								<label class="col-form-label col-form-label-sm col-sm-4" for="nursery">Nursery:</label>
								<div class="col-sm-8">
									<p class="form-control-static form-control-sm" th:text="${bean.nursery.name}"></p>
								</div>
								<input type="hidden" th:field="*{id}" />
							</div>
							<div class="form-group row">
								<label class="col-form-label col-form-label-sm col-sm-4" for="mobile">Mobile:</label>
								<div class="col-sm-8">
									<p class="form-control-static form-control-sm" th:text="${bean.mobile}"></p>
								</div>
							</div>
						</div>
						<div th:if="${bean.id eq null}" th:remove="tag">
							<div class="form-group row">
								<label class="col-form-label col-form-label-sm col-sm-4" for="nursery">Nursery:</label>
								<div class="col-sm-8">
									<select th:field="*{nursery}" required="">
										<option value=""></option>
										<option th:each="ns : ${nurseries}" th:value="${ns.id}" th:text="${ns.name}"></option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-form-label-sm col-sm-4" for="mobile">Mobile:</label>
								<div class="col-sm-8">
									<input required="" type="text" class="form-control form-control-sm" th:field="*{mobile}" />
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-4" for="name">Name:</label>
							<div class="col-sm-8">
								<input required="" type="text" class="form-control form-control-sm" th:field="*{name}" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-4" for="password">Password:</label>
							<div class="col-sm-8">
								<input id="password" name="password" required="" th:required="${bean.id eq null}" type="password" class="form-control form-control-sm" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-4" for="disabled">Disabled:</label>
							<div class="col-sm-1">
								<input type="checkbox" class="form-control form-control-sm" th:field="*{disabled}" style="margin-top: 30%;"/>
							</div>
						</div>
						<div class="col-sm-5 offset-sm-7">
							<div class="form-group">
								<a th:if="${bean.id ne null}" type="button" href="/manage/user" class="btn btn-warning">New</a>
								<button type="submit" class="btn btn-success">Save</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-7">
					<table th:if="${allbeans ne null and !#lists.isEmpty(allbeans)}"
						class="dttable table table-striped table-bordered" cellspacing="0" width="100%"
						data-columndefs="name,mobile,nursery,disabled,buttons">
						<thead>
							<tr>
								<th>Name</th>
								<th>Mobile</th>
								<th>Nursery</th>
								<th>Disabled</th>
								<th>
									<a class="btn btn-info btn-sm pull-right" th:href="@{'/manage/user'}"><span class="glyphicon glyphicon-plus"></span></a>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="bean : ${allbeans}">
								<td th:text="${bean.name}"></td>
								<td th:text="${bean.mobile}"></td>
								<td th:text="${bean.nursery.name}"></td>
								<td th:text="${bean.disabled ? 'Yes' : 'No'}"></td>
								<td>
									<a class="btn btn-info btn-sm pull-right" th:href="@{'/manage/user/' + ${bean.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div th:replace="common :: commom-footer" th:remove="tag"></div>
			<div th:replace="common :: common-js" th:remove="tag"></div>
		</div>
	</body>
</html>