<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="common :: common-meta" th:remove="tag" />
</head>
<body data-page="vendorprice">
	<div th:replace="common :: common-menu" th:remove="tag"></div>

	<div class="container" style="margin-top: 15px;">
		
		<div class="row">

			<div class="col-sm-6">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Order ID</th>
							<th>Product ID</th>
							<th>Sale Type</th>
							<th>Unit Price</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="order : ${orderDetailList}">
							<td th:text="${order.orders.id}">1</td>
							<td th:text="${order.product.name}">Product</td>
							<td th:text="${order.saleType.name}">Sale Type</td>
							<td th:text="${order.unit_price}">Amount</td>
							<td th:text="${order.quantity}">Status</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-6">
				<div class="row">Status Update</div>
				<form class="form-horizontal" id="statusUpdateForm"
					th:action="@{'/vendorprice/vendor-order-detail/update-order'}"
					th:object="${order}" method="post">
					<div class="form-group row">
						<label class="col-form-label col-form-label-sm col-sm-4"
							for="status">Status:</label>
						<div class="col-sm-8">
							<input type="hidden" th:field="*{id}" /> <select
								th:field="*{status}" required="required">
								<option value="New">New</option>
								<option value="Pending">Pending</option>
							</select>
						</div>
					</div>

					<div class="col-sm-4 offset-sm-8">
						<div class="form-group">
							<button type="submit" class="btn btn-success">Save</button>
						</div>
					</div>
				</form>
			</div>

			<div class="col-sm-6"></div>
			<div class="col-sm-6">

				<div class="row">Delivery Update</div>
				<form class="form-horizontal" id="deliveryUpdateForm"
					th:action="@{'/vendorprice/vendor-order-detail/update-order'}"
					th:object="${order}" method="post">
					<div class="form-group row">
						<label class="col-form-label col-form-label-sm col-sm-4"
							for="status">DeliveryDate:</label>
						<div class="col-sm-8">
							<input type="hidden" th:field="*{id}" /> <input type="text"
								th:field="*{delivery_datest}" placeholder="dd/MM/yyyy" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-form-label-sm col-sm-4"
							for="delivery_person">Delivery Person:</label>
						<div class="col-sm-8">
							<select th:field="*{delivery_person}">
								<option th:each="tp : ${deliveryPersonList}" th:value="${tp.id}"
									th:text="${tp.name}"></option>
							</select>

						</div>
					</div>


					<div class="col-sm-4 offset-sm-8">
						<div class="form-group">
							<button type="submit" class="btn btn-success">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>

	<div th:replace="common :: commom-footer" th:remove="tag"></div>
	<div th:replace="common :: common-js" th:remove="tag"></div>

	<script th:src="@{/js/order.js}" src="js/order.js"></script>
</body>
</html>