<html>
	<head>
		<meta th:replace="common :: common-meta" th:remove="tag"/>
	</head>
	<body>
		<div th:replace="common :: common-menu" th:remove="tag"></div>

		<div class="container" style="margin-top: 30px;">
			<div class="row" th:with="reqFromPart=${reqFrom eq null ? '' : ('?reqFrom=' + reqFrom)}">
				<div class="col-sm-6 offset-sm-3">
					<form id="registerform" th:action="@{'/register' + ${reqFromPart}}" method="post" th:object="${user}">
						<div th:if="${error ne null}" class="col-sm-8 offset-sm-3 alert alert-danger" style="text-align: center; padding: 5px;">
							<span th:text="${error}">লগ ইন</span>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-3" for="name"></label>
							<div class="col-sm-8">
								<input type="text" th:field="*{name}" required="required" class="form-control" placeholder="নাম"/>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-3" for="mobile"></label>
							<div class="col-sm-8">
								<input type="text" th:field="*{mobile}" class="form-control" required="required" placeholder="মোবাইল"/>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-3" for="password"></label>
							<div class="col-sm-8">
								<input type="password" th:field="*{password}" class="form-control" required="required" placeholder="পাসওয়ার্ড"/>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-3" for="confirmPassword"></label>
							<div class="col-sm-8">
								<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required="required" placeholder="পুনঃ পাসওয়ার্ড"/>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-3" for="email"></label>
							<div class="col-sm-8">
								<input type="text" th:field="*{email}" class="form-control" placeholder="ই-মেইল"/>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-3"></label>
							<div class="col-sm-8" style="text-align: center;">
								<button id="registerformbtn" type="submit" class="btn btn-primary" style="width: 100%;">নিবন্ধন</button>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-3"></label>
							<div class="col-sm-8" style="text-align: center;">
								<a th:href="@{'/login' + ${reqFromPart}}" href="/login" >লগ ইন করুন</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div th:replace="common :: commom-footer" th:remove="tag"></div>
		<div th:replace="common :: common-js" th:remove="tag"></div>
	</body>
</html>