body{
	font-family: -Kohinoor Bangla, Siyam Rupali, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,sans-serif;
}

#error-container{
	height: 100%;
	position: fixed;
	bottom: 0%;
	background-color: #000000e6;
	z-index: 9999999999999999;
	width: 100%;
	display: block;
	padding-top: 10%; text-align: center; line-height: 5rem;
}

.btn-default {
	color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:active, .btn-default.active {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:hover{
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:focus {
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btn-success {
	background-color: #335c04;
    border-color: #335c04;
}

.d-flex {
	display: flex !important;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	padding: 24px;
    border-radius: 6px;
}

.card-body {
	padding: 15px;
}

@media only screen and (min-width: 1200px) {
	#error-container{
		display: none;
	}
}

#header-container{
	background: #345C05;
	width: 100%; min-height: 57px;	
	padding-top: 13px;
}

#header-container .row{
	vertical-align: middle;
}

#header-nav-items { padding-top:3px; }
#header-nav-items img{ padding-left: 35px; height:16px; padding-right: 4px; top:-3px; position: relative;}

#header-nav-items a{
	--font-family: SiyamRupali;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	background-color: #345C05;
}

#homepage-slider{
	background-image: url('../../images/hero-bg.jpg');	
	background-repeat: repeat-x; background-position: center;
	background-color: #345C05;
	min-height: 411px;
}

#homepage-slider .homepage-slider-slogan {
	opacity: 0.82;
	background: #001A05;
	border: 2px solid #417505;
	border-radius: 5px;
	width: 570px; height: 77px;
	color: white;
	margin: 18px auto 0 auto;
	font-size: 22px;
	line-height: 74px;
	
}

h3,h4,h5,h6,h2,h1 { color: #417505; margin-bottom: 1em; }

#gardens { margin-top: 80px; }
#gardens .english{ font-size: 14px; }
#gardens .garden-label { margin-top: 8px; }
#gardens .col-lg-3 { margin-bottom: 80px; }

#gardens #gardens-make-your-own { 
	background-image: url("../../images/custom-create-garden-bg.png");	
	background-repeat: no-repeat; background-position: right;
	background-color: #fff;
	height: 334px;
	width: 98%; float: right;
}

p.headline3 {
	color: #345C05;
	font-size: 18px;
	line-height: 29px;
}

ul.create-garden{
	list-style: url("../../images/icon-bullet-tick.png");
	margin-left: 0;
	padding-left: 22px;
	line-height: 30px;
}

.gardens-create-cta{
	color: white;
	position: absolute;
	bottom: 0px;
	margin-right: 20px;
}
.gardens-create-cta a, .gardens-create-cta a:hover, .gardens-create-cta a:visited, .gardens-create-cta a:active{ color: white; }
.gardens-create-cta img{
	position: relative; top:-4px; padding-right: 14px;
}

.full-width-section-header{
	border-top: 4px solid #99B579;
	background-color: #F2F2F2;

}

.badge-blogTag {
	background: rgba(64, 117, 4, 0.20);
	border-radius: 5px;
	font-size: 12px;
	color: #345C05;
	letter-spacing: 0px;
	padding: 6px 16px;
	font-weight: 300;
	margin-top: 8px;
	margin-right: 4px;
}

ul.list-blogHeadline li{ margin-bottom: 34px; }

.floral-divider{ padding-top: 78px;	padding-bottom:82px; }

#footer-container{
	background: #345C05; width: 100%;
	padding-top:37px;
	padding-bottom: 70px;
}

#footer-container p{
	color: #FFFFFF; }

.border-bottom-2px{
	padding-bottom:12px; border-bottom: 1px solid #97B277;
}


#page-container{
	height: auto; width: 1146px;
	margin: auto auto;
	margin-top: 50px;
}

#left-area{
	width: 820px;
	display: inline-block;
	position: relative;
	padding-top: 20px;
}

#right-area{
	width: 320px;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.sidebar-tab-content{
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-top: 0px;
	padding-top: 15px;
}

.instructions{
	background: #ececec;
	width: 100%;
	padding: 24px;
}

.instructions ul{
	margin-bottom: 0;font-size: 16px;color: #727272;letter-spacing: 0px;line-height: 35px;
}

.color-red{ color: #D0021B; }
.color-green{ color: #417505; }
.color-muted{ color: #b4b4b4;}

.tab-content-plant{
	padding-bottom:4px;
	background: #FFFFFF;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 4px;

}
.tab-content-plant img{mix-blend-mode: multiply;}

.tab-content-plant:hover{
	background: #F0F7E9;
}

.bagan-code{
	font-size: 20px;
	color: #9F0013;
	letter-spacing: 2px;
}

.product-background{
	background: #FAFAFA;
	border: 1px solid #D7D7D7;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.10);
	padding: 22px;
	border-radius: 4px;
	line-height:40px;
	height: 600px;
}

.product-background img{
	padding-right: 10px;
}

/* enable absolute positioning */
.inner-addon {
	position: relative;
}

/* style icon */
.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.page-link{
	border: 0px;
	padding: 0.5rem 1.7rem;
}

#pclp-container .col-3{
	margin-bottom: 25px;
}

#pclp-container p{ margin-bottom: 0.5rem; }

.product-description-text p{ line-height: 24px; margin-bottom: 0.8rem !important; font-size: 16px; }

.hoverme img {
	display: none;
}

.hoverme:hover img {
	display: block;
}

#brand-text {
	--font-family: SiyamRupali;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
}

.ngkrishi {
	background: #345C05;
	color: #FFFFFF;
	padding-top: 4px !important;
	padding-left: 4px !important;
	padding-right: 4px !important;
}

div.table  {
	display: table;
	width: 100%;
}

div.tr {
	display: table-row;
}

div.td {
	display: table-cell;
	position: relative;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	width: auto;
}

div.tr>div.td:nth-child(5n + 1) {
	border-right: 1px solid black;
}

div.tr:nth-child(5n + 1)>div.td {
	border-bottom: 1px solid black;
}

div.inner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

div.tr>div.td:first-child>div.inner>span {
	position:absolute;
	bottom:0;
}

div.tr:first-child>div.td>div.inner>span {
	position:absolute;
	right:0;
}

#tableov {
	position: absolute;
	z-index: 1;
	opacity: 0.8;
}

.rmvme {
	display: none;
	position: absolute;
	top: -8px;
	right: -4px;
	z-index: 1001;
}

.rmvme>i {
	color: red;
}

.gardenitem:hover .rmvme {
	display: block;
}

.col-form-label { text-align: right }

#block-ui .updateBackground {
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	z-index: 999998;
	background-color: silver;
	filter: alpha(opacity = 50);
	-moz-opacity: .50;
	opacity: .50;
}

#block-ui .updateProgress {
	text-align: center;
	width: 100%;
	background-color: #ffffff;
	left: 0;
	top: 40%;
	z-index: 999999;
	margin-top: -3px;
	border-top: 7px solid #6E6B6C;
	border-bottom: 7px solid #6E6B6C;
	padding-top: 10px;
	padding-bottom: 10px;
}

.modal-title {
	margin-left: auto;
	margin-right: auto;
}

#header-nav-items a.dropdown-item {
	color: black;
	background-color: white;
}

.note-editor.note-frame.card {
	width: 100%;
}

.ms-choice > span {
	top: 5px;
	left: 5px;
}

.ms-choice > div {
	top: 3px;
	right: 5px;
}

.ms-drop ul {
	padding: 10px 10px;
}

.ms-drop {
	width: 98%;
}


.ms-drop > ul > li > label > span {
	padding-left: 5px;
}

.preventcopy {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.row-fluid.userInfoContainer {
	text-align: center;
	width: 300px;
}

.chnglgout {
	clear: none;
	width: unset;
	border: 1px solid #ccc;
	padding: 6px 1.0rem;
	border-radius: 8px;
}

#contact-buttons-bar {
	z-index: 16;
}

a.contact-button-link span.fa {
	margin-top: 15px;
}

.youtube {
	background: red;
}

.phone {
	background: green;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
	width: 100%;
	height: 410px;
	position: relative;
	background-size: cover;
}

#intro .intro-content {
	position: absolute;
	bottom: 0;
	top: 44px;
	z-index: 10;
	flex-direction: column;
	width: 100%;
	text-align: center;
}

@media ( max-width : 767px) {
	#intro .intro-content {
		top: 30px;
		width: 80%;
		right: 50px;
	}
}

#intro .intro-content h2 {
	color: #ffffff;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 700;
}

#intro .intro-content h2 span {
	color: #167806;
	text-decoration: underline;
}

@media ( max-width : 767px) {
	#intro .intro-content h2 {
		font-size: 34px;
	}
}

#intro .intro-content .btn-get-started, #intro .intro-content .btn-projects
	{
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 32px;
	border-radius: 2px;
	transition: 0.5s;
	margin: 10px;
	color: #fff;
}

#intro .intro-content .btn-get-started {
	background: #167806;
	border: 2px solid #167806;
}

#intro .intro-content .btn-get-started:hover {
	background: none;
	color: #ffffff;
}

#intro .intro-content .btn-projects {
	background: #167806;
	border: 2px solid #167806;
}

#intro .intro-content .btn-projects:hover {
	background: none;
	color: #167806;
}

#intro #intro-carousel {
	z-index: 8;
}

#intro #intro-carousel::before {
	content: '';
	background-color: rgba(0, 0, 0, 0.13);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 7;
}

#intro #intro-carousel .item {
	width: 100%;
	height: 410px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

#intro .intro-content .homepage-slider-slogan {
	opacity: 0.82;
	background: #001A05;
	border: 2px solid #417505;
	border-radius: 5px;
	width: 570px;
	height: 77px;
	color: white;
	margin: 18px auto 0 auto;
	font-size: 22px;
	line-height: 74px;
}

#intro .intro-content .homepage-slider-slogan {
	color: white;
	font-size: 22px;
	line-height: 74px;
}

#images img {
	width: 100%;
	height: 200px;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
	vertical-align: middle;
	border-style: none;
}

.vimg {
	padding-top: 10px;
	padding-bottom: 10px; 
}

.suggestion h5 {
	font-size: 18px;
	line-height: 22px;
	color: black;
}

.blockquote2 {
	padding: .5rem 1rem;
	border-left: .25rem solid #eceeef;

}

/*  product page */
#prod-desc-upper {
	display : flex;
	justify-content: space-between;
}

#product-commerce {
	display : flex;
	flex-direction : column;
	justify-content: flex-end;
	text-align : right;
	padding : 10px 0px 20px 10px;
}
/*buy page */
#find-nursery {
	display: flex;
    justify-content: space-evenly;
}

#find-nursery .form-group {
	margin-bottom: 10px;
}
table#price-list {
    border-collapse:separate;
	border-spacing:0 10px;
	border: none;
}
table#price-list tr {
	border-radius: 5px;
}
.well .btn-default.active {
    background-color: #335c04;
	border-color: #335c04;
	color: #ffffff; 
}
.quantity-cart {
	display: flex;
	justify-content: center;
}
.msg-buy {
	text-align: center;
	font-size: .75em;
	color: #335c04;
}
/*  cart ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#cart-container {
	
	position : fixed;
	width: 30vw;
	background:white;
	z-index:800;
	right:0;
	top:60px;
	height: 100vh;
	display: none;
	border : 1px solid #eee;
	box-sizing: border-box;
	transition: all 250ms;
	overflow-y: scroll;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);

	

}

#cart-header {
	display:flex; 
	justify-content:space-between;
	background: #335c04;
	color: #ffffff;
	align-items: flex-end;
}
#cart-header h5{
	color: #ffffff;
	padding: 0 10px;
	vertical-align: middle;
}
#cart-header button{
	color: #ffffff;
	padding: 5px 10px;
	background: transparent;
	border: solid 1px #ffffff;
	margin: 5px;
	border-radius: 0px;
}
#cart-item-container {
	display: flex;
	flex-direction: column;
	font-size: 0.75rem;
	padding: 20px 10px;
}


.cart-item-row {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #eeeeee;
	margin-top: 10px;
}
.cart-item-top-row {
	display: flex;
	justify-content:space-between;
}
.item-first-col {
	display: flex;
	flex-direction: column
}
.item-second-col {
	display: flex;
}
.item-second-col input{
	width: 48px;
    height: 36px;
    margin: 0 10px;
}
.item-second-col span{
	margin: 5px;
}

.item-third-col {
	margin-top: 5px;
}

#total-cart-cost {
	border-bottom: 1px solid #eeeeee;
	text-align: center;
	margin: 10px 0;
}
.hide-checkout #cart-checkout {
	display: none;
}

#cart-show {
	width: 55px; 
	top: 50vh; 
	right: 0px; 
	position: fixed; 
	z-index: 200;
	background: #ffffff;
	box-sizing: border-box;
	transition: all 250ms;
	padding: 2px;
	border: 1px solid #345c05;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

#cart-show:hover {
	padding-right: 20px;
    width: 70px;
}

.hide-cart #cart-container {
	display: none;
}

.show-cart #cart-container {
	display: block;
}
/* 

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
} */


/* + number - */
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
	padding: 0 2px;
	min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 20px;
    height: 20px;
    font: 20px/1 Arial,sans-serif;
    text-align: center;
	border-radius: 50%;
	margin-top: 2px;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 20px;
    height: 20px;
    font: 20px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
	background-clip: padding-box;
	margin-top: 2px;
	
}

.minus:hover{
    background-color: #111 !important;
}
.plus:hover{
    background-color: #111 !important;
}
/*Prevent text selection*/
.qty span{
    -webkit-user-select: none;
    -moz-user-select: none;
	-ms-user-select: none;
	background: #167806;
}
.qty input{  
    border: 0;
    width: 2%;
}
.qty input::-webkit-outer-spin-button,
.qty input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.qty input:disabled{
    background-color:white;
}