<div xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="common-meta" th:remove="tag">
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<title>নগরকৃষি প্রকল্প - Nogorkrishi Prokolpo</title>
		<link rel="shortcut icon" th:href="@{favicon.ico}" href="favicon.ico" />
		<link th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" rel="stylesheet" media="screen" />
		<link th:href="@{/webjars/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css}" rel="stylesheet" media="screen,print" />
		<link th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" rel="stylesheet" media="screen" />
		<link th:href="@{/css/lib/contact-buttons.css}" rel="stylesheet" media="screen" />
		<link rel="stylesheet" th:href="@{/css/lib/rowReorder.dataTables.css}" href="css/lib/rowReorder.dataTables.css" />
		<link rel="stylesheet" th:href="@{/css/lib/font-awesome.min.css}" href="css/lib/font-awesome.min.css" />
		<link rel="stylesheet" th:href="@{/css/lib/glyphicons.css}" href="css/lib/glyphicons.css" />
		<link rel="stylesheet" th:href="@{/css/nogorkrishi-styles.css}" href="css/nogorkrishi-styles.css" />

		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js}"></script>
		
	</div>

	<div th:fragment="common-menu" id="header-container">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<a href="/">
						<img th:src="@{/images/nogorkrishi-header-symbol.png}" src="images/nogorkrishi-header-symbol.png" style="padding-right: 4px;" />
						<img th:src="@{/images/nogorkrishi-header-text.png}" src="images/nogorkrishi-header-text.png" />
					</a>
				</div>
				<div class="col-lg-9 text-right" id="header-nav-items" th:with="MN=${T(com.niil.nogor.krishi.entity.Menu)}">
					<div th:with="lst=${beans.vutil.getPages(pagesMap, MN.PRODUCT)}" th:remove="tag">
						<div class="btn-group">
							<button type="button" class="btn dropdown-toggle ngkrishi" data-toggle="dropdown"><img
									th:src="@{/images/icon-ponno.png}"/>পণ্য</button>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#" th:href="@{/products}" th:text="${siteSettings eq null or #strings.isEmpty(siteSettings.ponnoMenu) ? 'গাছ' : siteSettings.ponnoMenu}">গাছ</a>
								<a class="dropdown-item" href="#" th:href="@{/gdesign}" th:text="${siteSettings eq null or #strings.isEmpty(siteSettings.gardenDesignMenu) ? 'বাগানের সহায়ক নকশা' : siteSettings.gardenDesignMenu}">গাছ</a>
								<a th:each="it : ${lst}" class="dropdown-item" href="#"
									th:href="@{'/pages/' + ${it.id} + '/' + ${beans.vutil.titleToPath(it.title)}}"
									th:text="${it.title}">গাছ</a>
							</div>
						</div>
					</div>

					<div th:with="lst=${beans.vutil.getPages(pagesMap, MN.SERVICE)}" th:remove="tag">
						<div th:if="${#lists.isEmpty(lst)}" th:remove="tag">
							<img th:src="@{/images/icon-sheba.png}" src="images/icon-sheba.png" />
							<span><a href="/vendors">সেবা</a></span>
						</div>
						<div th:unless="${#lists.isEmpty(lst)}" class="btn-group">
							<button type="button" class="btn dropdown-toggle ngkrishi" data-toggle="dropdown"><img
									th:src="@{/images/icon-sheba.png}"/>সেবা</button>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#" th:href="@{/vendors}" th:text="${siteSettings eq null or #strings.isEmpty(siteSettings.nurseryMenu) ? 'নার্সারির তথ্য' : siteSettings.nurseryMenu}">নার্সারির তথ্য</a>
								<a th:each="it : ${lst}" class="dropdown-item" href="#"
									th:href="@{'/pages/' + ${it.id} + '/' + ${beans.vutil.titleToPath(it.title)}}"
									th:text="${it.title}">গাছ</a>
							</div>
						</div>
					</div>

					<div th:with="lst=${beans.vutil.getPages(pagesMap, MN.SUGGESTION)}" th:remove="tag">
						<div th:if="${#lists.isEmpty(lst)}" th:remove="tag">
							<img th:src="@{/images/icon-poramorsho.png}" src="images/icon-poramorsho.png" />
							<span><a href="/suggestions">পরামর্শ</a></span>
						</div>
						<div th:unless="${#lists.isEmpty(lst)}" class="btn-group">
							<button type="button" class="btn dropdown-toggle ngkrishi" data-toggle="dropdown"><img
									th:src="@{/images/icon-poramorsho.png}"/>পরামর্শ</button>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#" th:href="@{/suggestions}" th:text="${siteSettings eq null or #strings.isEmpty(siteSettings.suggestionMenu) ? 'পরামর্শ' : siteSettings.suggestionMenu}">পরামর্শ</a>
								<a th:each="it : ${lst}" class="dropdown-item" href="#"
									th:href="@{'/pages/' + ${it.id} + '/' + ${beans.vutil.titleToPath(it.title)}}"
									th:text="${it.title}">গাছ</a>
							</div>
						</div>
					</div>

					<div th:with="lst=${beans.vutil.getPages(pagesMap, MN.ABOUTUS)}" th:remove="tag">
						<div th:if="${#lists.isEmpty(lst)}" th:remove="tag">
							<img th:src="@{/images/icon-about.png}" src="images/icon-about.png" />
							<span><a href="/gallery">আমাদের সম্পর্কে</a></span>
						</div>
						<div th:unless="${#lists.isEmpty(lst)}" class="btn-group">
							<button type="button" class="btn dropdown-toggle ngkrishi" data-toggle="dropdown"><img
									th:src="@{/images/icon-about.png}"/>আমাদের সম্পর্কে</button>
							<div class="dropdown-menu dropdown-menu-right">
								<a th:each="it : ${lst}" class="dropdown-item" href="#"
									th:href="@{'/pages/' + ${it.id} + '/' + ${beans.vutil.titleToPath(it.title)}}"
									th:text="${it.title}">গাছ</a>
								<a class="dropdown-item" href="/gallery" th:text="${siteSettings eq null or #strings.isEmpty(siteSettings.photoGalleryMenu) ? 'ফটো গ্যালারি' : siteSettings.photoGalleryMenu}">ফটো গ্যালারি</a>
							</div>
						</div>
					</div>

					<div th:with="lst=${beans.vutil.getPages(pagesMap, MN.CONTACT)}" th:remove="tag">
						<div th:if="${#lists.isEmpty(lst) or #lists.size(lst) eq 1}" th:remove="tag">
							<img th:src="@{/images/icon-contact.png}" src="images/icon-contact.png" />
							<span><a href="#" th:href="@{${beans.vutil.genUrl(lst)}}">যোগাযোগ</a></span>
						</div>
						<div th:if="${#lists.size(lst) gt 1}" class="btn-group">
							<button type="button"
								class="btn dropdown-toggle ngkrishi" data-toggle="dropdown"><img
									th:src="@{/images/icon-contact.png}"/>যোগাযোগ</button>
							<div class="dropdown-menu dropdown-menu-right">
								<a th:each="it : ${lst}" class="dropdown-item" href="#"
									th:href="@{'/pages/' + ${it.id} + '/' + ${beans.vutil.titleToPath(it.title)}}"
									th:text="${it.title}">গাছ</a>
							</div>
						</div>
					</div>

					<div sec:authorize="!isAuthenticated() or isAuthenticated()" th:remove="tag">
						<div class="btn-group" th:fragment="loginiconmenu">
							<button style="padding-top: 2px !important; margin-left: 10px;" type="button" class="btn dropdown-toggle ngkrishi"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="glyphicon glyphicon-user" style="color: white;"
										th:style="'color:' + ${#authorization.expression('isAuthenticated()') ? 'lightgreen' : 'white'}"></i></button>
							<div class="dropdown-menu dropdown-menu-right">
								<div sec:authorize="!isAuthenticated()" th:remove="tag">
									<a class="dropdown-item" href="#" th:href="@{/login}">লগ ইন</a>
								</div>
								<div sec:authorize="isAuthenticated()" th:remove="tag">
									<div class="row-fluid userInfoContainer">
										<strong class="ng-binding" th:text="${luser.mobile}">ADMIN</strong>
										 <p th:text="${luser.name}">Systems Administrator</p>
									</div>
									<div class="dropdown-divider"></div>
									<a sec:authorize="hasRole('ROLE_GARDENER') or hasRole('ROLE_VENDOR')" class="dropdown-item chnglgout" style="float: left; margin-left: 10px;" href="#" th:href="@{/changepassword}">পাসওয়ার্ড পরিবর্তন</a>
									<a class="dropdown-item chnglgout" style="float: right; margin-right: 10px; margin-bottom: 8px;" href="#" th:href="@{/logout}">লগ আউট</a>
									<div class="dropdown-divider" style="width: 100%;"></div>
									<!-- <a sec:authorize="hasRole('ROLE_VENDOR')" class="dropdown-item" href="#" th:href="@{/vendorprice}">পণ্য মূল্য</a> -->
									<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="#" th:href="@{/dashboard}">ড্যাশবোর্ড</a>
									<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="#" th:href="@{/settings}">সেটিংস</a>
									<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="#" th:href="@{/pages/editor}">সিএমএস</a>
									<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="#" th:href="@{/settings/gallery}">গ্যালারি</a>
									<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="#" th:href="@{/settings/gdesign}">বাগান ডিজাইন</a>
									<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="#" th:href="@{/contents}">লেখা সমূহ</a>
									<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="#" th:href="@{/manage/product}">ডাটা ম্যানেজমেন্ট</a>
									<a sec:authorize="hasRole('ROLE_VENDOR')" class="dropdown-item" href="#" th:href="@{/nursery/productprice}">পণ্য মূল্য তালিকা</a>
									<a class="dropdown-item" href="#" th:href="@{/exlayout/list}">উদ্যান তালিকা</a>
									<a sec:authorize="hasRole('ROLE_GARDENER')" class="dropdown-item" href="#" th:href="@{/serviceregister}">৩৩৩১ সেবা</a>
									
									<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="#" th:href="@{/manage/orders/all-order-list}">সবার অর্ডার</a>
									<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" th:href="@{/manage/gardeners}" href="/manage/gardeners">Gardener তালিকা</a>
									<a sec:authorize="hasRole('ROLE_VENDOR')" class="dropdown-item" href="#" th:href="@{/vendorprice/vendor-order-list}">আমার অর্ডার</a>
									<a sec:authorize="hasRole('ROLE_GARDENER')" class="dropdown-item" href="#" th:href="@{/gardener/gardener-order-list}">আমার অর্ডার</a>
									<a sec:authorize="hasRole('ROLE_VENDOR')" class="dropdown-item" href="#" th:href="@{/nursery/deliveryperson}">ডেলিভারিম্যান</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="common-registration-form" id="login-container">
		<div class="form-group row">
			<label class="col-form-label col-form-label-sm col-sm-3" for="name"></label>
			<div class="col-sm-8">
				<input type="text" th:field="*{name}" required="required" class="form-control" placeholder="নাম"/>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-form-label-sm col-sm-3" for="mobile"></label>
			<div class="col-sm-8">
				<input type="text" th:field="*{mobile}" class="form-control" required="required" placeholder="মোবাইল"/>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-form-label-sm col-sm-3" for="email"></label>
			<div class="col-sm-8">
				<input type="text" th:field="*{email}" class="form-control" required="required" placeholder="ই-মেইল"/>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-form-label-sm col-sm-3" for="password"></label>
			<div class="col-sm-8">
				<input type="password" th:field="*{password}" id="password-reg" class="form-control" required="required" placeholder="পাসওয়ার্ড"/>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-form-label-sm col-sm-3" for="confirmPassword"></label>
			<div class="col-sm-8">
				<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required="required" placeholder="পুনঃ পাসওয়ার্ড"/>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-form-label-sm col-sm-3"></label>
			<div class="col-sm-8" style="text-align: center;">
				<button id="registerformbtn" type="submit" class="btn btn-primary" style="width: 100%;">নিবন্ধন</button>
			</div>
		</div>
	</div>
	<div th:fragment="common-login" id="login-container">
		<div th:if="${error ne null}" class="col-sm-8 offset-sm-3 alert alert-danger" style="text-align: center; padding: 5px;">
			<span th:text="${error}">লগ ইন</span>
		</div>
		<div th:if="${msg ne null}" class="col-sm-8 offset-sm-3 alert alert-success" style="text-align: center; padding: 5px;">
			<span th:text="${msg}">লগ ইন</span>
		</div>
		<div th:if="${param.resetSuccess}" class="col-sm-8 offset-sm-3 alert alert-success" style="text-align: center; padding: 5px;">
			<span>আপনি সফলতার সাথে পাসওয়ার্ড রিসেট করেছেন!</span>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-form-label-sm col-sm-3" for="username"></label>
			<div class="col-sm-8">
				<input type="text" id="username" name="username" class="form-control" required="required" placeholder="মোবাইল"/>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-form-label-sm col-sm-3" for="password"></label>
			<div class="col-sm-8">
				<input type="password" id="password" name="password" class="form-control" required="required" placeholder="পাসওয়ার্ড"/>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-form-label-sm col-sm-3"></label>
			<div class="col-sm-8" style="text-align: center;">
				<button type="submit" class="btn btn-primary" style="width: 100%;">লগ ইন</button>
			</div>
		</div>
		<div class="form-group row register-login">
			<label class="col-form-label col-form-label-sm col-sm-3"></label>
			<div class="col-sm-8">
				নতুন ইউজার? <a href="/" th:href="@{/register}">নিবন্ধন করুন</a>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-form-label-sm col-sm-3"></label>
			<div class="col-sm-8">
				পাসওয়ার্ড ভূলে গেছেন? <a href="/" th:href="@{/forgotpassword}">পাসওয়ার্ড রিসেট করুন</a>
			</div>
		</div>
	</div>
	<div th:fragment="common-manage-menu" id="header-container">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<a href="/">
						<img th:src="@{/images/nogorkrishi-header-symbol.png}" src="images/nogorkrishi-header-symbol.png" style="padding-right: 4px;" />
						<img th:src="@{/images/nogorkrishi-header-text.png}" src="images/nogorkrishi-header-text.png" />
					</a>
				</div>
				<div class="col-lg-1">
					<span class="navbar-brand" id="brand-text" th:text="${brand}">Sale Type</span>
				</div>
				<div class="col-lg-5 text-right">
					<!-- <div class="btn-group">
						<button type="button" class="btn dropdown-toggle ngkrishi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Actions
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" th:href="@{/manage/product}" href="/manage/product">Product</a>
							<a class="dropdown-item" th:href="@{/manage/producttype}" href="/manage/producttype">Product Type</a>
							<a class="dropdown-item" th:href="@{/manage/saletype}" href="/manage/saletype">Sale Type</a>
							<a class="dropdown-item" th:href="@{/manage/productproperty}" href="/manage/productproperty">Product property</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/manage/nursery}" href="/manage/nursery">Nursery</a>
							<a class="dropdown-item" th:href="@{/manage/nurserytype}" href="/manage/nurserytype">Nursery Type</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/manage/area}" href="/manage/area">Area</a>
							<a class="dropdown-item" th:href="@{/manage/city}" href="/manage/city">City</a>
							<a class="dropdown-item" th:href="@{/manage/demographicdata}" href="/manage/demographicdata">বিভাগ, জেলা এবং উপজেলা</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/manage/material}" href="/manage/material">Material</a>
							<a class="dropdown-item" th:href="@{/manage/materialtype}" href="/manage/materialtype">Material Type</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/manage/user}" href="/manage/user">Nursery User</a>
						</div>
					</div> -->

					<div class="btn-group">
						<button type="button" class="btn dropdown-toggle ngkrishi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Products
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" th:href="@{/manage/product}" href="/manage/product">Product</a>
							<a class="dropdown-item" th:href="@{/manage/producttype}" href="/manage/producttype">Product Type</a>
							<div class="dropdown-divider"></div>							
							<!-- <a class="dropdown-item" th:href="@{/manage/saletype}" href="/manage/saletype">Sale Type</a> -->
							<a class="dropdown-item" th:href="@{/manage/productproperty}" href="/manage/productproperty">Product property</a>
							<a class="dropdown-item" th:href="@{/manage/productpropertyvalue}" href="/manage/productpropertyvalue">Product property value</a>
							<a class="dropdown-item" th:href="@{/manage/productpropertymapping}" href="/manage/productpropertymapping">Product property mapping</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/manage/material}" href="/manage/material">Material</a>
							<a class="dropdown-item" th:href="@{/manage/materialtype}" href="/manage/materialtype">Material Type</a>
							
						</div>
					</div>

					<div class="btn-group">
						<button type="button" class="btn dropdown-toggle ngkrishi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Nursery
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							
							<a class="dropdown-item" th:href="@{/manage/nursery}" href="/manage/nursery">Nursery</a>
							<a class="dropdown-item" th:href="@{/manage/nurserytype}" href="/manage/nurserytype">Nursery Type</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/manage/user}" href="/manage/user">Nursery User</a>
						</div>
					</div>
					
					<!-- <div class="btn-group">
						<button type="button" class="btn dropdown-toggle ngkrishi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							উদ্যানরক্ষক
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							
							<a class="dropdown-item" th:href="@{/manage/gardeners}" href="/manage/gardeners">উদ্যানরক্ষক তালিকা</a>
						</div>
					</div> -->

					<div class="btn-group">
						<button type="button" class="btn dropdown-toggle ngkrishi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Locations
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							
							<!-- <a class="dropdown-item" th:href="@{/manage/area}" href="/manage/area">Area</a>
							<a class="dropdown-item" th:href="@{/manage/city}" href="/manage/city">City</a> -->
							<a class="dropdown-item" th:href="@{/manage/demographicdata}" href="/manage/demographicdata">বিভাগ, জেলা এবং উপজেলা</a>							
						</div>
					</div>
				</div>
				<div class="col-lg-2 text-right">
					<div class="btn-group" th:replace="common :: loginiconmenu">
						<button type="button" class="btn dropdown-toggle ngkrishi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#authentication.principal.username}">
							Actions
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Logout</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="common-js" th:remove="tag">
			<script >var api_origin = window.location.origin;</script>
		<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
		<script th:src="@{/webjars/jquery-blockui/jquery.blockUI.js}"></script>
		<script th:src="@{/webjars/jquery-cookie/jquery.cookie.js}"></script>
		<script th:src="@{/webjars/tether/dist/js/tether.min.js}"></script>

		<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/webjars/datatables-rowreorder/js/dataTables.rowReorder.js}"></script>
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/lib/jquery.contact-buttons.js}" src="js/lib/jquery.contact-buttons.js" ></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
		<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
		<script th:src="@{/js/nogorkrishi.js}" src="js/nogorkrishi.js" ></script>
		<script th:src="@{/js/manage.js}" src="js/manage.js" ></script>
		<script th:src="@{/js/site.js}" src="js/site.js" ></script>
	</div>

	<div th:fragment="commom-footer" th:remove="tag">
		<div style="width: 150px; bottom: 0px; right: 0px; position: fixed; z-index: 2000;">
			<a th:href="@{/layout}">
				<img th:src="@{/images/btn-create-own-garden.jpg}" class="img-fluid w-100" style="height: 50px;" />
			</a>
		</div>
		<div id="cart-manage">
			<div id="cart-show" sec:authorize="${hasRole('ROLE_GARDENER') || !isAuthenticated()}">
				<img src="https://img.icons8.com/material-rounded/48/000000/shopping-cart.png"/>
				<p class="small text-center mb-0" v-text="addedProducts.length + ' টি পণ্য'"></p>
			</div>
			
			<div id="cart-container">
				<div id="cart-header">
					<h5 class="mb-2">আমার কার্ট</h5>
						<button id="cart-close" href="#" class="btn btn-warning">X</button>
					</div>
				<div id="cart-item-container">
					<div class="cart-item-row" v-for="addedProduct in addedProducts">
						<div class="cart-item-top-row">
							<div class="item-first-col">
								<h6 class="">{{addedProduct.name}}</h6>
								<a :href="`/vendor/${addedProduct.nurseryId}`" class=""> {{addedProduct.nurceryName}} </a>
							</div>
							<div class="item-second-col">
	
									<!-- <input type="number" class="form-control text-center" 
									v-bind:value = "addedProduct.quantity"
									v-on:click= "quantityChange(addedProduct)"/> -->
									<span>{{addedProduct.quantity}} X {{addedProduct.price}} টাকা</span>
	
							</div>
							<div class="item-third-col">
								<button v-on:click= "removeItem(addedProduct)" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
							</div>
						</div>
						<div class="cart-item-bottom-row">
							<p>
								<span v-for="property in addedProduct.properties">
									{{property.productPropertyValue.productProperty.name}} : {{property.productPropertyValue.name}}
								</span>
							</p>
						</div>
					</div>
										
					<div id="total-cart-cost">
						<h4 v-if="addedProducts.length">সর্বমোট {{totalPrice}} টাকা</h4>
						<h4 v-if="!addedProducts.length">আপনি এখনো কিছু কিনেন নি।</h4>
					</div>
					<div id="cart-checkout">
						<a v-if="addedProducts.length" th:href="@{/place-order}" class="btn btn-success btn-block">
							চেক আউট <i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		
		<div id="block-ui" style="z-index: 2055; display: none;">
			<div class="updateProgress"><i class="fa fa-spin fa-spinner"></i></div>
			<div class="updateBackground"></div>
		</div>
		<div class="floral-divider">
			<div class="text-center m-auto">
				<img th:src="@{/images/floral-divider.jpg}" src="images/floral-divider.jpg" class="img-fluid" />
			</div>
		</div>
		<div id="footer-container">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<p>
							<img th:src="@{/images/footer-logo.png}" src="images/footer-logo.png" style="margin-bottom: 20px;"/>
						</p>
						<p>যোগাযোগ এর ঠিকানা,</p>
						<p> ব্লগে লেখালেখি সংক্রান্ত:  <span th:text="${siteSettings eq null ? 'editor@nogorkrishi.com' : siteSettings.blogEmail}" th:remove="tag">editor@nogorkrishi.com</span> <br/>
							নার্সারি সংক্রান্ত: <span th:text="${siteSettings eq null ? 'nursery@nogorkrishi.com' : siteSettings.nurseryEmail}" th:remove="tag">nursery@nogorkrishi.com</span> </p>
						<p>
							<a href="" class="btn btn-success">
								<img th:src="@{/images/icon-contact.png}" src="images/icon-contact.png" style="height: 16px !important;"/>  যোগাযোগ ফর্ম
							</a>
						</p>
					</div>
					<div th:unless="${siteSettings eq null}" th:utext="${siteSettings.footerText}" class="col-lg-6 pt-5"></div>
					<div th:if="${siteSettings eq null}" class="col-lg-6 pt-5">
						<p>
							নগরকৃষী একটি ফরাসি ফিজিসিস্ট। ক্রিস্টালোগ্রাফি, রেডিয়েশন বিষয়ক গবেষণার ক্ষেত্রে পথপ্রদর্শক। রেডিয়েশন নিয়ে গবেষণার জন্য ১৯০৩ সালে নোবেল পুরষ্কার পান অরি বেক্যুইরেল আর মারিয়া সালোমেয়া স্ক্লোডোস্কার সঙ্গে যৌথ ভাবে কাজ করে।
						</p>
						<p>	রিস্টালোগ্রাফি, রেডিয়েশন বিষয়ক গবেষণার ক্ষেত্রে পথপ্রদর্শক। রেডিয়েশন নিয়ে গবেষণার জন্য ১৯০৩ সালে নোবেল পুরষ্কার পান।</p>
						<p>আমাদের নিয়ে বিস্তারিত জানুন</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
