<html>
	<head>
		<meta th:replace="common :: common-meta" th:remove="tag"/>
	</head>
	<body>
		<div id="header-container">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<a href="/">
						<img th:src="@{/images/nogorkrishi-header-symbol.png}" src="images/nogorkrishi-header-symbol.png" style="padding-right: 4px;" />
						<img th:src="@{/images/nogorkrishi-header-text.png}" src="images/nogorkrishi-header-text.png" />
					</a>
				</div>
			</div>
		</div>
		</div>

		<div class="container" style="margin-top: 15px;">
			<div class="row">
				<div class="col-sm-6 offset-sm-3 alert alert-danger">
					<span>Failed to load data</span>
				</div>
			</div>
		</div>

		
		<div th:replace="common :: common-js" th:remove="tag"></div>
	</body>
</html>