<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<title>নগরকৃষি প্রকল্প - Nogorkrishi Prokolpo</title>
		<link rel="shortcut icon" th:href="@{favicon.ico}" href="favicon.ico" />
		<link th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" rel="stylesheet" media="screen" />
		<link th:href="@{/webjars/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
		<link th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" rel="stylesheet" media="screen" />
		<link th:href="@{/css/lib/contact-buttons.css}" rel="stylesheet" media="screen" />
		<link rel="stylesheet" th:href="@{/css/lib/rowReorder.dataTables.css}" href="css/lib/rowReorder.dataTables.css" />
		<link rel="stylesheet" th:href="@{/css/lib/font-awesome.min.css}" href="css/lib/font-awesome.min.css" />
		<link rel="stylesheet" th:href="@{/css/lib/glyphicons.css}" href="css/lib/glyphicons.css" />
		<link rel="stylesheet" th:href="@{/css/lib/summernote-bs4.css}" href="css/lib/codemirror.min.css" />
		<link rel="stylesheet" th:href="@{/css/nogorkrishi-styles.css}" href="css/nogorkrishi-styles.css" />
	</head>
	<body th:with="BASE64=${T(org.apache.tomcat.util.codec.binary.Base64)}" data-page="settings">
		<div th:replace="common :: common-menu" th:remove="tag"></div>

		<div class="container">

			<div class="row">
				<div class="col-lg-12 mt-5 mb-5 border-bottom-2px text-center">
					<h3>Gallery Images</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<form class="form-horizontal" th:action="@{'/settings/gallery'}" method="post" enctype="multipart/form-data">
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-3" for="details">Details:</label>
							<div class="col-sm-9">
								<textarea class="form-control form-control-sm" name="details"></textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-form-label-sm col-sm-3" for="image">Image:</label>
							<div class="col-sm-9">
								<input id="image" th:required="${true}" type="file" accept=".jpg,.png" class="form-control form-control-sm uploadimg" name="imageFile" />
							</div>
						</div>
						<div class="col-sm-6 offset-sm-6">
							<div class="form-group">
								<button type="submit" class="btn btn-success">Save</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-7">
					<table th:if="${gbeans ne null and !#lists.isEmpty(gbeans)}"
						class="dttable reorder table table-striped table-bordered" cellspacing="0" width="100%"
						data-columndefs="sequence,details,image,buttons,id-false"
						th:attr="data-actionurl=@{/settings/gallery/sequence}">
						<thead>
							<tr>
								<th>Order</th>
								<th>Details</th>
								<th>Image</th>
								<th></th>
								<th>Code</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="bean : ${gbeans}">
								<td th:text="${bean.sequence}"></td>
								<td th:text="${bean.details}"></td>
								<td class="hoverme">Hover here to see the image<img height="165px" width="165px" th:src="${'data:image/png;base64,' + BASE64.encodeBase64String(bean.image.image)}"/></td>
								<td>
									<button type="button" class="btn btn-danger btn-sm pull-right rmvbtn" th:attr="data-remote=@{'/settings/gallery/' + ${bean.id}}"><span class="glyphicon glyphicon-trash"></span></button>
								</td>
								<td th:text="${bean.id}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 mt-5 mb-5 border-bottom-2px text-center">
					<h3>Home Page Carousel Images</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<form class="form-horizontal" th:action="@{'/settings/carousel'}" method="post" enctype="multipart/form-data">
						<div class="form-group row">
							<label class="control-label col-form-label-sm col-sm-3" for="image">Image:</label>
							<div class="col-sm-9">
								<input id="image" th:required="${true}" type="file" accept=".jpg,.png" class="form-control form-control-sm uploadimg" name="imageFile" />
							</div>
						</div>
						<div class="col-sm-6 offset-sm-6">
							<div class="form-group">
								<button type="submit" class="btn btn-success">Save</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-7">
					<table th:if="${cbeans ne null and !#lists.isEmpty(cbeans)}"
						class="dttable reorder table table-striped table-bordered" cellspacing="0" width="100%"
						data-columndefs="sequence,image,buttons,id-false"
						th:attr="data-actionurl=@{/settings/carousel/sequence}">
						<thead>
							<tr>
								<th>Order</th>
								<th>Image</th>
								<th></th>
								<th>Code</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="bean : ${cbeans}">
								<td th:text="${bean.sequence}"></td>
								<td class="hoverme">Hover here to see the image<img height="165px" width="165px" th:src="${'data:image/png;base64,' + BASE64.encodeBase64String(bean.image.image)}"/></td>
								<td>
									<button type="button" class="btn btn-danger btn-sm pull-right rmvbtn" th:attr="data-remote=@{'/settings/carousel/' + ${bean.id}}"><span class="glyphicon glyphicon-trash"></span></button>
								</td>
								<td th:text="${bean.id}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 mt-5 mb-5 border-bottom-2px text-center">
					<h3>Site Settings</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<form class="form-horizontal" th:action="@{'/settings'}" th:object="${siteSettings}" method="post">
						<div th:if="${error ne null}" class="col-sm-12 alert alert-danger" style="text-align: center; padding: 5px;">
							<span th:text="${error}">Error</span>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-2" for="blogEmail">Blog email</label>
							<div class="col-sm-4">
								<input required="" type="text" class="form-control form-control-sm" th:field="*{blogEmail}" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-2" for="nurseryEmail">Nursery email</label>
							<div class="col-sm-4">
								<input required="" type="text" class="form-control form-control-sm" th:field="*{nurseryEmail}" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-2" for="nurseryEmail">Footer text</label>
							<div class="col-sm-10">
								<textarea th:field="*{footerText}"></textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-form-label-sm col-sm-3"></label>
							<div class="col-sm-9" style="text-align: right;">
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div th:replace="common :: commom-footer" th:remove="tag"></div>

		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
		<script th:src="@{/webjars/jquery-blockui/jquery.blockUI.js}"></script>
		<script th:src="@{/webjars/tether/dist/js/tether.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/webjars/datatables-rowreorder/js/dataTables.rowReorder.js}"></script>
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/lib/jquery.contact-buttons.js}" src="js/lib/jquery.contact-buttons.js" ></script>
		<script th:src="@{/js/lib/summernote-bs4.min.js}" src="js/lib/xml.min.js" ></script>
		<script th:src="@{/js/nogorkrishi.js}" src="js/nogorkrishi.js" ></script>
		<script th:src="@{/js/manage.js}" src="js/manage.js" ></script>
		<script th:src="@{/js/editor.js}" src="js/editor.js" ></script>
	</body>
</html>